[2016-09-22 06:24] kyyberi opened #3 "Copy-paste code examples for API utilisation"
As a developer I want to have copy-paste code examples from each API to lower barrier to explore.

[2016-09-22 06:26] kyyberi opened #4 "Organisation view to APIs"
As a API owner I want to see all APIs from my organisation in a visually attractive format. This page is part of our PR.

[2016-09-22 06:28] kyyberi opened #5 "Use case stories from developers"
As a developer I want to see use case stories from other developers about how they utilized selected APIs. Stories should be linked to API profile.

As a API owner I want to have same to lower barrier for API consumers.

[2016-09-22 06:30] kyyberi opened #6 "Enhance usability of statictics / dashboard view"
At the moment dashboard is not usable.

[2016-09-22 06:32] kyyberi opened #7 "Enable adding design phase API"
As API owner I would like to bring design phase API to service. I don't have API backend yet, but I have Swagger spec in Github or/and in Swaggerhub.com service. This API should be labelled visually as Design to mimize false impressions of working API.

[2016-09-22 06:33] kyyberi opened #8 "Filter APIs in organisation view"
As API manager of given organisation I want to filter listing of APIs on my organisation's view. Some are Design phase, some development, some production and some retired.

# Wireframe

I made some sketches about how filtering option may work in Organization page.
1. The API view of an organization profile would have a filtering option at the right most side
![altorganizationprofileapiview](https:

[2016-09-22 06:37] kyyberi opened #9 "Github issue list in API profile"
As a developer I want to see issue list of given API in API profile page.

[2016-09-22 06:43] kyyberi opened #10 "API profile page visually more attractive"
API profile page is not visually attractive. Moving in tabs is cumbersome. I would test widget based box structure at least for opening view to provide overview where I can see:

- List of developer stories related to this API. About latest post there whould be image and teaser text, rest as links.
- latest issue (open) from github
- status
- average response time
- link to live documentation
- re

[2016-09-22 06:45] kyyberi commented on #10
Also show API development status: design, development, testing, production, retired.

[2016-09-22 06:46] kyyberi commented on #10
- Rating also should be shown.
- Amount of consumers.

[2016-09-22 06:48] kyyberi opened #11 "Unified style"
As product owner I want to see unified style in different views and pages. At the moment landing page is the style rest of the views should follow.

[2016-09-22 06:58] kyyberi commented on #7
Example https://swaggerhub.com/api/kyyberi/MPASSid/MVP

[2016-09-22 09:59] kyyberi opened #12 "Harvest liityntäkatalogi APIs"
As a developer I want to see KAPA APIs in the same catalog. https://liityntakatalogi.suomi.fi

[2016-09-23 05:59] kyyberi commented on #12
See https://github.com/apisuomi/apisuomi-2.0/tree/master/components/harvester for case study material

[2016-09-23 06:00] kyyberi commented on #12
KaPA APIs must be visually distinct from rest, since KaPA API management is handled in X-Road. Use label or something to make it obvious.

[2016-09-23 17:35] kyyberi opened #13 "Generate sdks for the one with swagger"
As api owner I would like to have generated sdks for my apis. At least I should have ability add them to my api profile if I choose to use this opportunity. In addition sdks should be synced to github repo chosen by me. in fact sdks should be generated to github directly. If swagger is changed and new sdks should be generated, I should be offered that and warned that old sdks are overwritten.

[2016-09-23 17:36] kyyberi commented on #13
We must find ways to encourage api developers to use api specs with development. Creating added value for doing so will boost usage of swagger and alike tools.

[2016-09-23 17:38] kyyberi opened #14 "Explore raml support"
Explore and experiment what supporting raml much like swagger would require. Result could be a report and estimate of work with task list.

[2016-09-25 09:17] kyyberi opened #15 "API to list APIs"
As developer I want to be able to list APIs from catalogue via REST API. Meta information needed:
- Name
- Organisation
- URL for profile in APIKA catalogue
- description
- Logo url
- tags/keywords

[2016-09-25 11:09] kyyberi opened #16 "Blogging"
As a API owner I would like to write blog entries about API economy and APIs related topics. Blog should be available for all signed up users.

[2016-09-25 11:52] kyyberi commented on #15
Could consider making GraphQL based API?

[2016-09-25 16:39] kyyberi opened #17 "Refactor frontpage"
Current frontpage is a basicly fine. We need to add blocks for:

- latest news (blog entries)
- latest developer stories
- block where steps to add API is shown and link to blog entry with details
- statistics block: number of APIs, number of users (signed up), number of developer stories, number of relayed API calls.

[2016-09-25 16:46] kyyberi commented on #15
In addition the API should have diff method to get changed metadata for APIS.

[2016-09-25 16:46] kyyberi commented on #15
API spec must be in Swagger 2.0 format and put into Swaggerhub

[2016-09-25 16:47] kyyberi commented on #15
Used data models could be added if possible to https://iow.csc.fi

[2016-09-25 16:48] kyyberi commented on #10
This is important feature, it is the showroom for this API. Aim is that owners want to share this url in all medias.

[2016-09-26 15:24] TuulaP opened #18 "Lifecycle status info for API"
As an API user, I would like to see which APIs are in design, prototype, stable or ramped down . The status helps me to select the most appropriate API for a purpose.

(Bit related to #7 for the API owner & #15  to allow adding already design phase APIs as they are being developed.)

[2016-09-26 15:37] TuulaP opened #19 "Submitting application examples of API usage"
As an API owner, I want that a developer can submit an example / application how they have utilized our API. The application can be a link to a github repo, application homepage, and contain description and possibly usage principles (license etc.).

(Bit related to the #3 , as an api owner we cannot prepare examples with so many languages.
Also related to #5 as seeing applications requires that so

[2016-09-30 09:29] tuukka opened #20 "Option to calculate quota based on a consumption header"
I want to manage a GraphQL API, where some requests can be very costly while some are very cheap. I want to set a quota per hour per API key, and each response from the API to APIKA would contain a custom header (say, "X-Deduct-Quota") that tells how much APIKA should deduct from the quota, that is, how costly this response was to provide.

[2016-09-30 09:33] tuukka opened #21 "Support CNAME for API gateway"
I want to create a custom DNS name (api.hsl.fi), point it to umbrella.digipalvelutehdas.fi and configure it in APIKA as an alias for umbrella.digipalvelutehdas.fi/hsl

[2016-09-30 09:36] tuukka opened #22 "Support CNAME for APIKA"
I want to create a custom DNS entry (apika.hsl.fi), point it to apika.digipalvelutehdas.fi and configure it in APIKA as canonical name for apika.digipalvelutehdas.fi/hsl showing organisation page from issue #4.

[2016-09-30 09:41] tuukka opened #23 "Support multiple API gateway instances"
I want to deploy a separate API gateway instance within my network, and manage it via apika.digipalvelutehdas.fi.

[2016-09-30 09:42] tuukka opened #24 "Authorize a group to manage APIs of an organization"
I want to configure APIKA to allow only a given group of users to manage APIs that reside under some domain (digitransit.fi).

# Definition of done
* [ ] An organization manager can add additional managers for an organization through UI. (This uses the same flow as adding API Users)
*  [ ] There is a `managerIds` array field in Organization schema
* [ ] The organization managers have edit rights t

[2016-09-30 09:46] tuukka opened #25 "Support tags for APIs"
I want to tag APIs to group them related to organisation, project, field, region etc.

[2016-09-30 09:48] tuukka opened #26 "Option to use Origin instead of API key"
I want to configure an API's use to be tracked based on the Origin headers of the requests, instead of or in addition to IP address or API key.

[2016-09-30 09:52] tuukka opened #27 "Option to track API use based on OAuth login of the requester"
I want to configure an API to track usage based on OAuth login information of an end user. If a user is logged in (at login.hsl.fi), they should have quota if the app has quota *or* the user has quota.

[2016-09-30 09:53] tuukka opened #28 "Manage MQTT realtime APIs"
I want to manage via APIKA an API that is based on the MQTT protocol or MQTT over WebSocket protocol.

[2016-09-30 10:15] tuukka opened #29 "Integrate GraphiQL (API console)"
For any APIs that are based on GraphQL, I want to see the GraphiQL user interface and use it via APIKA.

[2016-10-26 14:05] bajiat commented on #6
Is the description "At the moment dashboard is not usable" referring to current APIKA dashboard (proof of concept)?

[2016-10-27 05:09] kyyberi commented on #6
Yes

[2016-10-27 11:21] bajiat commented on #28
@tuukka What type of management features do you need for MQTT?

[2016-10-27 11:22] bajiat commented on #27
@tuukka Do you need analytics (tracking) or also limiting per user quota?

[2016-10-27 11:26] bajiat commented on #25
@tuukka This sounds like multiple taxonomies. Are you interested in pre-defined or free text tags for each taxonomy?

[2016-10-27 11:29] bajiat commented on #24
Would it be possible to create organizations and organization management support? And APIs would be connected to that organization.

[2016-10-27 11:35] bajiat commented on #21
@tuukka Is this needed if APIKA supports #23? In other words, proxy can be deployed directly at api.hsl.fi? There is an upstream issue in API Umbrella about CNAME. See https://github.com/NREL/api-umbrella/issues/213

[2016-10-27 11:40] bajiat commented on #18
@TuulaP Are you looking for a predefined list of API statuses? How would you like end users to browse for status?

[2016-10-28 06:22] TuulaP commented on #18
Yes, I'm thinking some kind of filtering to see, which APIs are 'stable', which are 'in development'  (which one could give or ask input depending on viewpoint), which are 'in testing' and would benefit some experimenting and so forth.  Or if API is 'deprecated' for any reason and it is recommended to use a new version etc.

[2016-10-31 08:47] brylie commented on #22
CNAME might not be the solution here.

In other words, it may not be possible to use CNAME to map to a domain/path:

- apika.hsl.fi -> apika.digipalvelutehdas.fi/hsl

However, CNAME can be used for the domain mapping:

- apika.hsl.fi -> apika.digipalvelutehdas.fi

# References
- Wikiedia: [CNAME record](https://en.wikipedia.org/wiki/CNAME_record)
- StackOverflow: [Using DNS to redirect to another

[2016-10-31 08:49] brylie commented on #22
This would mean both CNAME support and a UI for nginx reverse proxy configuration.

[2016-11-01 10:43] bajiat commented on #20
@tuukka What should APIKA be able to do? Limit as per quota? Show the available quota to the user? Who defines and where what is the available quota per API key or per time?

[2016-11-01 11:06] bajiat commented on #26
Is this request related to a particular proxy? Can you give an example of what a request with Origin header would look like?

[2016-11-01 11:17] bajiat commented on #27
@tuukka Are you referring to a particular proxy or is this a requirement for all proxies?

[2016-11-02 13:27] brylie commented on #29
@tuukka what are your goals for having a GraphQL browser, such as GraphiQL?

[2016-11-02 13:29] brylie commented on #29
Related issue:
- https://github.com/NREL/api-umbrella/issues/297

[2016-11-04 17:09] kyyberi commented on #27
We'll know the answer at the kickoff meeting 16.11.2016 if not sooner :)

[2016-11-04 17:09] kyyberi commented on #28
We'll know the answer at the kickoff meeting 16.11.2016 if not sooner :)

[2016-11-04 17:10] kyyberi commented on #26
We'll know the answer at the kickoff meeting 16.11.2016 if not sooner :)

[2016-11-04 17:10] kyyberi commented on #20
We'll know the answer at the kickoff meeting 16.11.2016 if not sooner :)

[2016-11-14 12:08] Nazarah commented on #18
@TuulaP Hei. I have a few questions about the API lifecycle.
1. do you wish to select a life cycle phase when adding a new API? would it be a mandatory field? Would there be certain restriction about what phase can be selected when you are adding a new API
2. would you like to see the lifecyle status of an API in API list page?
3. In organization view, would you like to see API list appearing cate

[2016-11-14 12:51] Nazarah commented on #15
@kyyberi hei!
* would you like to see a "filter by organization" option in API list page?
* What do you think about idea of having an organization list view as well, where you can see APIs hosted by a particular organization and link to their profile
* from API list page, would you like to have link to the organization profile that owns a particular API?

[2016-11-14 16:03] kyyberi commented on #18
For "Would there be certain restriction about what phase can be selected when you are adding a new API" I would say that "deprecated" is not an option.

[2016-11-15 08:26] Nazarah commented on #4
@kyyberi is there any possibility that 2 organizations can jointly work on developing on API? or this case is very rare?

[2016-11-15 08:31] Nazarah commented on #4
@kyyberi if we keep a settings tab in an organization's profile, what things would you expect there to include?
For example: Making an organization public/private, deleting an organization, associating APIs with organization, etc.? what do you think about these options.
Also apart from the contact personnel for an organization, what about other people under the organization?

[2016-11-15 12:32] Nazarah commented on #5
@kyyberi what do you think about the idea of having a tab "Blogs and Use Cases" in API profile page that would have both the features of writing/publishing link of a developers blog and presenting use case stories?
I am giving the reference of the following issue:
https://github.com/Digipalvelutehdas/APIKA/issues/5

They both seems to have similarities in terms of content.

[2016-11-15 12:33] Nazarah commented on #16
An idea can be to incorporate both Blogging and Use case story under a single tab in API profile.

[2016-11-15 15:07] philippeluickx commented on #24
+1 on linking it with the organization management. If then whitelabeling (out of scope but on the roadmap) is added, this requirement would be completely covered.

[2016-11-15 15:11] philippeluickx commented on #20
I would be interested to know how the quota is calculated. Is this something that the API owner can set? Or is it done on the level of APIKA platform?

[2016-11-15 15:11] philippeluickx commented on #19
Should this be separate from documentation or be integrated in the docs?

[2016-11-15 15:13] philippeluickx commented on #18
I presume this is linked to API versioning? So you could have a v1 that is deprecated, a v2 that is stable and a v3 in development?
Should these versions be linked through lifecycle status?

[2016-11-15 15:14] philippeluickx commented on #16
Recreating blogging functionalities is maybe redundant when there are plenty of good blogging platforms (medium, wordpress,...). Would it be possible to somehow use existing platforms and integrate instead?

[2016-11-15 15:15] philippeluickx commented on #15
We could also publish the API of APIs in APIKA itself?
The diff requirement should maybe go in a different ticket though?

[2016-11-15 15:17] philippeluickx commented on #12
Would this be a one-time sync or should it sync periodically?

[2016-11-15 15:19] philippeluickx commented on #9
Would a read-only list work? Clicking on an item redirects to github issue. Also includes a link to the github repo then maybe?

[2016-11-15 15:19] philippeluickx commented on #8
Can an API have multiple organizations linked?

[2016-11-15 18:17] TuulaP commented on #18
@philippeluickx Good point, yes. Usually API offerers add this info to the documentation e.g. FB have list of their [Graph API versions](https://developers.facebook.com/docs/apps/versions) with specific logic of advancing API versions and onwards in the lifecycle. But some are bit brief with this information, so choosing the 'correct one' is bit tricky.

@Nazarah Yes, since as an API creator that

[2016-11-15 18:41] TuulaP commented on #19
Either way, I'm not sure if there is any commenting etc. in the documentation?

At best, developer could easily submit their 'user content' and just notify that "I've done this, you can find app using your api here".  Naturally developer can always contact the API Creator, but then it requires some copy-paste from email, system X to APIKA and this can cause some delays.

Hmmm, it seems that I inad

[2016-11-16 09:57] Nazarah commented on #18
@TuulaP I've made some low fidelity sketches about the idea of API life cycles. Please give me your feedback, improvement suggestions about them:

1. You can see what status your API is currently is from the top view of your API profile.
On hovering/clicking on present and past phase(s), you'd be able to know when the phase was changed.
You can change the status from that controller
![apiprofile](

[2016-11-16 10:24] Nazarah commented on #25
@tuukka I've made some low fidelity sketches about the idea of API Tags. please have a lookt at them and give me your feedback/improvement suggestions:

1. on API profile, tag would appear in the details tab.
You can use the editor to add existing tags, new tag or remove/delete a tag.
If API profile has the Details tab as default view on profile navigation, you'd always see the tags in the first g

[2016-11-16 10:30] Nazarah commented on #16
Here is an idea about blogging specific to an API.
A separate tab in API profile would allow users to add both blog entries and use cases.
There would be an advanced editor to provide different features (manual entry, linking to a blog existing in a separate platfom, giving code snippets/use cases, etc.)
Previous entries can also be seen there.
Writer's name and association with the API (owner/con

[2016-11-16 10:35] Nazarah commented on #10
@kyyberi apart from the current design of API profiles in APINF, I have thought about the following ideas. Please have a look and give your suggestions/improvement ideas.

1. Design phase and their editing options + Tags in an API
![apiprofile](https://cloud.githubusercontent.com/assets/17976243/20343821/adbc8560-abf8-11e6-8d9d-d789e9b186a1.png)

2. Github issues (showing the recent 5 open/close i

[2016-11-16 10:41] Nazarah commented on #9
Here is an idea about a separate tab in API profile to show the Github issues.
Basically the existing style of the page is shown with recent 5 open/closed issues.
clicking on the issue/repository links redirects you to the github (specific issue/repository)
![githublist](https://cloud.githubusercontent.com/assets/17976243/20344040/bfff4856-abf9-11e6-8ab3-53819a72eaa4.png)

One question. Should API

[2016-11-16 10:45] Nazarah commented on #5
Here is an idea about blogging specific to an API.
A separate tab in API profile would allow users to add both blog entries and use cases.
There would be an advanced editor to provide different features (manual entry, linking to a blog existing in a separate platfom, giving code snippets/use cases, etc.)
Previous entries can also be seen there.
Writer's name and association with the API (owner/con

[2016-11-17 08:22] Nazarah commented on #8
Here is an idea about how APIs can be filtered in organization view.
In organization catalogue, you can filter organizations based on the life cycle phase of an API and tags of API.
You can select multiple option from dropdown in the filtering.
We need to think about the implementation of this filtering function (mainly the AND/OR logic to return filtered results)
![organizationcatalog3](https://c

[2016-11-17 08:44] Nazarah commented on #4
Here are some ideas about the organization catalog.

1. Organization catalog can be accessed from the topbar catalof menu
![landingpagea](https://cloud.githubusercontent.com/assets/17976243/20381625/e2bb19da-acb0-11e6-8bbe-a55120e126e6.png)

2. You can see the organizations in both card and table view.
The card will show Organization name, Description, and no. of API and Bookmarks.
You can click t

[2016-11-17 19:38] TuulaP commented on #18
Oh wow :)  ☕️🍰

Pic1. Nifty - easy to change own status, so +1 for that.  The Visibility 'Public' altough led my mind to a sidetrack, that could I put 'limited' or private there? Then I could do the initial steps within organization, and publicize the API when stable.  And I hope it is possible to jump directly to 'Stable' so that the workflow doesn't become too strict.

Pic 2. Good. This would he

[2016-11-18 07:36] Nazarah commented on #18
@TuulaP thanks for your feedback. :)

Pic 1: The changing of status is totally upto you. They won't follow a strict workflow so the steps can be changed at any time. I simply kept the usual flow of how an API development usually proceeds.
Public/private visibility of API is an APINF functionality. API owner can control who would be able to see the API in any catalog (private, limited audience, pub

[2016-11-18 07:52] bajiat commented on #26
@brylie created an upstream request to API Umbrella

https://github.com/NREL/api-umbrella/issues/307

[2016-11-18 07:59] bajiat commented on #20
@brylie created an upstream issue

https://github.com/NREL/api-umbrella/issues/308

[2016-11-18 08:05] bajiat commented on #27
There is an upstream issue about OAuth in API Umbrella:

https://github.com/NREL/api-umbrella/issues/38

[2016-11-18 08:09] Nazarah commented on #4
@kyyberi since APIKA doesn't yet have any organization profile view, i sketched some design ideas of how it may look. Please give your feedback about this:

1. The Organization profile can have similar look like that of am API profile.
Top part of profile can contain name, logo, owner information, creation date, bookmark and star rating option.
Details page can contain description, contact details

[2016-11-18 12:22] bajiat opened #30 "Test URL alias for APIKA"
# Purpose
Allow a whitelabeling option to use an alias to point to e.g. to organization page. This is an alternative to supporting CNAME.

# Definition of done
* [x] Create an internal alias for nightly, e.g. alias.apinf.io
* [x] Point the alias to nightly.apinf.io.
* [x] Test navigating to subpaths and see that the alias is preserved.

[2016-11-18 12:30] bajiat opened #31 "Pull request from APInf to APIKA"
Pull the latest code base from APInf master to APIKA master.

[2016-11-18 12:36] bajiat opened #32 "Get access to APIKA VM"
Make sure the APInf team making APIKA deployments has access to APIKA server(s). Access information needs to be stored securely, so that any backup person can also handle deployments.

[2016-11-18 12:38] bajiat opened #33 "Backup any migration data from APIKA"
In case either something goes wrong during migration or there is a need for hand migration, any migration data (APIS, users) needs to be backed up.

[2016-11-18 12:41] bajiat opened #34 "Deploy release 0.35 to APIKA server"
Deploy release 0.35 to apika.digipalvelutehdas.fi.

[2016-11-18 12:44] bajiat opened #35 "Migrate APIKA data to new deployment"
Import or migrate APIKA data (APIs, users) to new APIKA deployment. Make sure to handle email validation field (set it to true for current users).

[2016-11-18 12:48] bajiat opened #36 "Create schema for organization"
Schema, collection and access control for organization.

# Definition of done
* [x] Collection for organization exists
* [x] Schema for collection exists with minimum following fields
  * [x] name
  * [x] user name (added by or responsible)
  * [x] description
  * [x] contact information (contact person, email, phone, organization web page)
* [x] Access control
  * [x] Admin can add an organizatio

[2016-11-18 12:50] bajiat opened #37 "UI for adding an organization"
Implement a form for adding an organization. See issue #36 for the fields.

# Definition of done
* [x] Admin can see an option to add an organization.
* [x] Form for adding an organization exists.
* [x] When the form is saved, the data is stored in Organization collection.

# Wireframe

![addui](https://cloud.githubusercontent.com/assets/17976243/20525273/4e1dfc1e-b0c7-11e6-8b2a-aeac09622e52.png)

[2016-11-18 12:53] bajiat opened #38 "Basic UI for viewing organization"
The organization page will eventually be used by organizations to promote their APIs and for users to be able to filter their APIs by lifecycle stage. Start developing the page keeping in mind that the features listed above will have to fit in to the page later.

# Definition of done
* [x] There is a route for single organization.
* [x] There is a view for a single organization that contains
  * [

[2016-11-18 13:35] TuulaP commented on #18
pic3 . The date of the new version could be useful, just for the cases that if sth breaks up or for own logging. Equally for status change - but somehow so that there is not a multitude of those, so that it is clear to see what is for what.

[2016-11-18 18:10] kyyberi commented on #32
Ville Jyrkkä should have SSH access

[2016-11-20 21:47] frenchbread commented on #36
Interested

[2016-11-20 21:47] frenchbread commented on #37
Interested

[2016-11-20 21:48] frenchbread commented on #38
Interested

[2016-11-21 07:45] Nazarah commented on #37
What fields should we considers in this form?

[2016-11-21 08:22] bajiat commented on #36
Can you give an estimate?

[2016-11-21 08:24] frenchbread commented on #36
@bajiat Updated.

[2016-11-21 08:34] Nazarah opened #39 "Wireframe and user flow for "UI for adding an organization""
For issue #37

[2016-11-21 08:36] Nazarah opened #40 "Wireframe for "Basic UI for viewing organization""
for issue #38

[2016-11-21 08:38] bajiat opened #41 "Write a blog post about APIKA"
Write a blog post about APIKA that will be published in apisuomi.fi

The post should contain information on following items:
* the development plan
* where to follow progress
* support in Slack

[2016-11-21 08:40] bajiat opened #42 "Architect dashboard changes"

[2016-11-21 09:04] brylie commented on #22
@tuukka we have experimented with CNAME record for APIKA, using one of our internal domains. Apinf seems to support the CNAME DNS level record. However, we immediately encountered an issue with the SSL certificate, since it was not issued for the CNAME domain.

![screenshot_20161121_110405](https://cloud.githubusercontent.com/assets/17307/20476560/3d8c689c-afda-11e6-94e6-4b3edbd6995e.png)

[2016-11-21 09:04] brylie commented on #22
Ping @bajiat

[2016-11-21 09:34] Nazarah commented on #37
# User Flow:

* User is not logged in, but wishes to add an organization -> clicks link from topbar menu -> gets redirected to login/signup page
* User is logged in and at any page in APIKA -> clicks link from topbar menu -> gets redirected to Add organization form

# Open question:
* Are we thinking of adding quick link/ button to Add an API/Organization apart from topbar menu?
* Is any user is a

[2016-11-21 10:16] Nazarah commented on #36
@bajiat what information would be included in the access control field?
* people who would be part of the organization? (do they need to have APIKA account? or email address would be used?)
* Visibility of an organization? (Public/Visible to specific audience group? Private?)

[2016-11-21 11:22] Nazarah commented on #37
@frenchbread I designed this wireframe for the Add Organization UI. Give me your feedback about this.
The Add Organization UI can be accessed from TopBar
The form contains all the fields that were described in the Organization Schema #36
I resused the "upload logo" feature from APINF branding.
I am not yet sure about the access control in organization, but still added the visibility features from

[2016-11-21 11:23] Nazarah commented on #40
Assigning @bajiat for reviewing.
Wireframe has been added to #38 issue

[2016-11-21 11:31] bajiat commented on #36
@Nazarah Access control is not a field. It was mentioned for the purpose of reminding the developer that it is necessary to handle permission in the database level.

I think that at least for now that all organizations are public, since the purpose of the organization page is to promote the APIs of that organization. @kyyberi Is this the right assumption?

[2016-11-21 11:31] bajiat commented on #36
@brylie Please check the definition of done.

[2016-11-21 11:39] bajiat commented on #36
@kyyberi Who should be able to add organizations? Any APIKA user or only admin users?

[2016-11-21 11:44] bajiat commented on #37
@Nazarah Take out the Access control. Add organization button should not be in top bar, it could be only in Organization catalog. Add a field for organization URL.

Created by / Owner field: We'll make a decision on this when we find out who should be able to add organizations.

[2016-11-21 11:53] bajiat commented on #37
@brylie Please check definition of done

[2016-11-21 12:05] Nazarah commented on #37
@bajiat modified the wireframe as per feedback. Keeping a link at the top to show from where the Add Organization button can be accessed.
![addui](https://cloud.githubusercontent.com/assets/17976243/20482132/84a0de48-aff3-11e6-9261-5e9f3d7728e2.png)

[2016-11-21 12:16] jykae commented on #33
Backups taken of Apikafront mongo, Umbrella mongo & elasticsearch.

[2016-11-21 13:14] #33 closed

[2016-11-21 13:17] jykae commented on #32
@bajiat Have access for current apikafront & umbrella. Investigating access for Pouta to create new VM for migration.

[2016-11-21 13:25] bajiat opened #43 "Add organization logo"
Organizations should be able to add their logo. The logo will be displayed in Organization page and in Organization catalog.

# Definition of done
* [ ] Button for adding a logo exists in Add organization view.
* [x] There is a collection for storing the logo.
* [x] Logo is displayed on single organization page.

# Wireframe
In Add Organization form
![addui](https://cloud.githubusercontent.com/ass

[2016-11-21 19:12] frenchbread commented on #37
@Nazarah Thanks for wireframes.

As @bajiat mentioned, access control should be handled on database level, so it should not be represented somewhere in the schema. I think the last one is what is needed.

Also as a little enhancement in the future, we could combine, "Add API" and "Add organization" similarly to how Github does it.

[2016-11-22 08:38] brylie commented on #31
This has been completed.

[2016-11-22 08:38] #31 closed

[2016-11-22 08:40] Nazarah commented on #38
Here are some ideas that were made with low fidelity wireframes

1. Organization catalog can be accessed form Catalog menu in topbar
![landingpagea2](https://cloud.githubusercontent.com/assets/17976243/20515984/c5e01b36-b09c-11e6-96c1-d94bcd95c6fc.png)

2. catalog can have both card view and tabular view.
Card of an organization can contain Name, logo, owner's name, description, creation date and

[2016-11-22 09:22] Nazarah commented on #38
Some low fidelity design ideas for organization view:

1. Top part of organization profile shows logo, organization name, owner, option to bookmark and star rating (if preferred).
Owner of an organization can decide whether or not to make the organization public/private/accessible to specific people in APIKA
Details tab of organization shows description, url to organization page, contact person's

[2016-11-22 09:30] brylie commented on #37
@bajiat the definition of done looks good. Is it only Admin users who can add organizations?

[2016-11-22 09:34] bajiat commented on #37
@brylie I have posted a question about this in #36?

[2016-11-22 12:59] frenchbread commented on #37
@brylie @bajiat I currently did it so that only admins can add organizations. And only admins WHO added organizations can edit & remove them. If something will change, we can patch update with separate issue.

[2016-11-22 13:23] #36 closed

[2016-11-24 08:25] jykae commented on #32
@shaliko & me have now access for migration server. Closing

[2016-11-24 08:25] #32 closed

[2016-11-24 08:57] #39 closed

[2016-11-24 09:33] #30 closed

[2016-11-24 09:43] brylie opened #50 "Design/implement Dashboard loading state notification for end user"
When the Dashboard is retrieving data, the end user may be unaware that anything is happening. In order for the user to understand that something is happening, we need to show some loading indicator. The previous loading indicator code was removed as part of a refactor.

[2016-11-24 09:45] brylie opened #51 "Fix Dashboard 'no API added' text"
The Dashboard should inform a user to add an API with Proxy settings when they have not done so already. This was working prior to the recent Dashboard refactor, but needs attention now.

[2016-11-25 10:24] kyyberi commented on #3
Related blog post https://dev.hel.fi/blog/what-about-documentation/

[2016-11-25 10:25] kyyberi commented on #10
Related blog post https://dev.hel.fi/blog/what-about-documentation/

[2016-11-25 10:26] kyyberi commented on #10
@Nazarah thanks for sketches. Unfortunately my time is limited. Perhaps when there is a few more sketches for other issues as well, we could have an online meeting about the plans?

[2016-11-25 13:25] jykae commented on #35
Requires #34 first

[2016-11-28 08:36] Nazarah commented on #40
Ready for review.

[2016-11-28 09:37] bajiat commented on #24
Changed the name of the requirement from: "Authorize a group to manage APIs of a domain" to "Authorize a group to manage APIs of an organization"

[2016-11-28 11:09] jykae opened #55 ""No data found" layer when data is available on Dashboard"
Found when reviewing #54
Possibly related to https://github.com/apinf/platform/issues/1904

## Steps to reproduce
1. Add 2 APIs, other dummy API without data & other Real API with some query data
2. Switch between APIs using Select list

## Expected
- When data is available, don't show "No data found" layer

## Actual
- Showing "No data found" layer when data is available

[2016-11-28 11:19] jykae opened #56 "Dashboard date picker issues"
Found in PR review #54

Notes about date picker
- does not validate range, "To" date can be before "From" date
- on page refresh date parameters disappear
<img width="1025" alt="nayttokuva 2016-11-28 kello 12 32 46" src="https://cloud.githubusercontent.com/assets/293452/20665081/d67bc30e-b566-11e6-91be-efab1c05dc6d.png">

[2016-11-28 11:48] jykae commented on #43
It would be possibly good to make upload template/component that could take things that change dynamically as parameters, we seem to have pretty much copy/paste code wherever we upload images.

[2016-11-28 13:07] brylie commented on #16
Based on recent discussions, we agreed to build in *oembed* support. This means we should be able to add content from any [provider with oembed compatibility](http://oembed.com/#section7).

As a related note, Medium does *not* appear to support oembed:

- https://help.medium.com/hc/en-us/articles/216566288-Can-I-embed-Medium-on-other-sites-
- https://github.com/nfl/jquery-oembed-all/issues/47

[2016-11-28 13:08] bajiat opened #57 "Allow admin to add eMQTT as proxy"
Allow admins to add eMQTT broker through Proxies settings.

# User story

I want to be able to add an eMQTT broker to APInf platform as an API proxy
so that API owners are able to add eMQTT APIs and connect them to the eMQTT.

# Definition of done
* [ ] When adding a proxy, user should be able to select between API Umbrella and eMQTT.
* [ ] If the user selects eMQTT, they should be able to fill in

[2016-11-28 13:26] bajiat commented on #16
Also, we will need to consider approval flow. API owners should be able to control the content the developers are adding for a particular API. Should the developers add content as a suggestion and owners need to approve that? Or can anything be added and it will be publicly shown immediately, but owners and admins have the privilege to reject afterwards?

[2016-11-28 13:27] bajiat commented on #57
@frenchbread Would you be able to get started on this as discussed in the meeting?

[2016-11-28 21:56] frenchbread commented on #57
@bajiat Yes, I'm on it.

[2016-11-29 09:22] bajiat opened #61 "Ensure dashboard renders charts with ElasticSearch query results"
Currently, the dashboard charts are not being rendered with data, when API backend has been selected from the Select API list.

# General design
![screenshot_20161129_113533](https://cloud.githubusercontent.com/assets/17307/20704451/f91cc400-b627-11e6-84c1-18587800df11.png)

The code design **might** follow this flow:

1. user selects an API from the list
2. `getProxyData` is called with the selec

[2016-11-29 09:23] bajiat commented on #61
@brylie Please add your sketch on architecture.

[2016-11-29 09:25] bajiat commented on #61
@marla-singer This is continuation to your work on https://github.com/apinf/platform/issues/1872. Focus on this first, getting the data from ElasticSearch prior to any other dashboard tasks.

[2016-11-29 09:37] #37 closed

[2016-11-29 10:22] jykae commented on #15
@kyyberi What you mean with this: "In addition the API should have diff method to get changed metadata for APIS." There's tool to compare REST API response diffs https://www.npmjs.com/package/node-rest-diff, though can't see why we need to track metadata changes. For that we would need versioning first.

[2016-11-29 10:49] bajiat commented on #22
Same requirement from @arvileino / City of Turku

[2016-11-29 11:15] jykae commented on #15
@bajiat My proposal is to use Restivus (https://github.com/kahmali/meteor-restivus) for implementation with excellent https://github.com/apinf/restivus-swagger plugin that generates valid Swagger 2.0

If I am able to interpret requirements here, we could start with GET endpoints first.
Authentication is important then for POST, PUT, DELETE where we modify data.
Restivus provides authentication, ht

[2016-11-29 11:19] bajiat commented on #22
@arvileino CNAME works for aliasing / whitelabeling the top level domain, but if you want api.something.fi to point to a subroute in APIKA, you have to include the sub path in your links. Also, the APIKA SSL certificate has to include any domain it is serving.

[2016-11-29 11:29] marla-singer commented on #61
@brylie @bajiat Now develop branch has implementation of point "Dashboard charts show only data for the selected API" and other points.
In this issue I have to refactor code of Elastic Search logic?

[2016-11-29 11:42] Nazarah commented on #38
@nnn as discussed earlier, added wireframe specific to this task.

[2016-11-29 11:43] arvileino commented on #22
@bajiat I think api.something.fi SSL-certificate is required.

[2016-11-29 11:49] brylie commented on #22
@arvileino for a CNAME entry, **only the Apika server needs to be configured with an SSL certificate**. The Apika SSL certificate needs to contain all domains that will be served from the Apika server.

[2016-11-29 11:55] brylie commented on #22
Also, Apika currently supports CNAME and sub-path forwarding. E.g.

- api.something.fi --> apika.digipalvelutehdas.fi
- api.something.fi**/organization** -->apika.digipalvelutehdas.fi**/organization**

Note that the **/organization** sub-path must be present, along with the CNAME domain. In other words, the CNAME record will route to the Apika server and will preserve any sub-path, so that we can

[2016-11-29 12:43] jykae commented on #43
@Nazarah uploading organization logo in "add organization" form causes problem when trying to attach id to organization object that doesnt yet exist.
Discussed briefly with @brylie that upload would be easier to attach to "single organization view" after the organization is added, and user is redirected to newly created organization page.

[2016-11-29 12:54] marla-singer commented on #43
@jykae Maybe we can move uploading logo on Settings page? As we have for API page

[2016-11-29 13:13] brylie commented on #56
I have fixed the first issue, by linking the from and to fields together.

The second issue only happens when the current date is selected, and is a default behavior of the Bootstrap datepicker.

[2016-11-29 13:17] brylie commented on #43
Jep. We can also show an upload modal dialogue when clicking on the logo or logo placeholder. E.g. when a manager or admin is viewing the Organization page, there can be a link 'edit logo' that opens a modal dialogue.

[2016-11-29 13:27] jykae commented on #43
@marla-singer @brylie Yep, I viewed https://github.com/Digipalvelutehdas/APIKA/issues/38
Issue descriptions/wireframes were bit differentiating.
@nnn seems to be working initial structure for view page

[2016-11-29 13:37] jykae commented on #15
Support for tags seems to have separate issue: https://github.com/Digipalvelutehdas/APIKA/issues/25

[2016-11-29 13:51] jykae commented on #15
Starting with plan above.

[2016-11-29 14:27] #40 closed

[2016-11-29 21:13] tuukka commented on #20
In GraphQL, there's only one URL. That's why the calculation of cost per request has to be done outside APIKA, in the API itself, and communicated to APIKA via the custom header.

[2016-11-30 10:14] #56 closed

[2016-11-30 10:16] brylie commented on #20
@tuukka can you please respond in the upstream issue? It might help to clarify the user scenario, so that @GUI understands why this would be useful.

[2016-11-30 11:16] tuukka commented on #20
@brylie I think that would be confusing because the linked upstream issue talks about URLs and administrator-configured costs, whereas above, I outline why those are not relevent with GraphQL.

[2016-11-30 11:34] brylie commented on #20
@tuukka that is exactly why we need your input on the upstream issue. I created the issue to make sure we understand your request, and will change the title and description to match your needs.

[2016-11-30 11:37] tuukka commented on #29
The goals here are the same as for integrating e.g. Swagger console: provide documentation and playground for learning how the API works. GraphiQL is here: https://github.com/graphql/graphiql

An example of what GraphiQL looks like: http://dev.hsl.fi/graphql/console/

[2016-11-30 11:45] #38 closed

[2016-11-30 13:17] #41 closed

[2016-11-30 13:19] bajiat commented on #61
@marla-singer We think that the ElasticSearch logic needs some attention.

What is your estimate for completion?

[2016-11-30 13:25] bajiat commented on #57
@frenchbread What is your estimate, will you be able to finish this task in this sprint? Or will it continue in next sprint?

[2016-11-30 13:30] marla-singer commented on #61
@bajiat Estimate is 2 days, I'm already working on it

[2016-11-30 14:27] bajiat commented on #22
Comments gathered and translated from a related discussion on APIKA channel in Digipalvelutehdas Slack 2016-11-30:
- Adding several domains to the certificate still needs to be tested (combo is LetsEncrypt and nginx)
- Certificates can also be separate, as long as they are all added on the same server
- It is possible to use SNI (several certificates in nginx), or SAN (one certificate that contain

[2016-11-30 14:30] frenchbread commented on #57
@bajiat Yep, I'll finish it by the end of this sprint. Updated the estimate.

[2016-11-30 15:06] bajiat opened #67 "Translation round to Finnish"
Localize any texts with missing Finnish translations.

Definition of done
* [x] Export all UI texts to localisation tool
* [x] Translate the missing UI texts into Finnish
* [x] Have the texts proofread by another native speaker of Finnish.
* [ ] Import the texts back to project.

[2016-11-30 21:33] frenchbread commented on #57
#69 is ready for review

[2016-12-01 08:16] bajiat opened #72 "Allow owner to connect API to eMQTT"
# User story

I want to connect my MQTT API to eMQTT proxy
so that I can benefit from API management features, like rate limiting and analytics

# Definition of done
* [ ] eMQTT can be selected as a proxy in Proxy tab in API profile
* [ ] Owner can enter proxy settings required for eMQTT keeping the same settings / structure as in Api Umbrella settings wherever possible

# Wireframe
1. API owner c

[2016-12-01 08:17] bajiat opened #73 "Connecting APIs to an organization"
Add API form should have a field for organizations that allows to select one organization. (For Nazia to consider: Or should this only in API settings? In addition to wireframe, consider the user flows for connecting the APIs)

# Definition of done
* [x] API schema contains foreign key for organization
* [x] Owner can select one organization either in Add API form or in Settings tab in API profile

[2016-12-01 08:17] bajiat opened #74 "Showing organization APIs on organization page"
# User story

I want to show my organization's APIs on the organization page
so that I can promote them.

# Definition of done
* [x] Organization page contains an API catalog that lists only APIs connected to that organization
* [x] The catalog only shows API cards, i.e. there is no option to toggle to table

# Wireframe

1. new API card design
It includes new label to indicate what lifecycle phas

[2016-12-01 08:18] bajiat opened #75 "Allow owner to define lifecycle status for an API"
Add lifecycle status field to API schema and allow owner (and admin) to define lifecycle status for an API.

# User story

I want to add lifecycle status information for my API
so that I can inform the API users of the API status

# Definition of done
* [x] API schema contains a field for lifecycle status
* [x] The allowed values are predefined: design, development, testing, production, deprecated

[2016-12-01 08:19] bajiat opened #76 "Show lifecycle status for API"
# User story

I want to be able to see the lifecycle status of an API
so that I can determine how safe it is to start using an API

# Definition of done
* [ ] Once owner has added a lifecycle status for API, it needs to be shown in
  * [ ] Catalog card view
  * [ ] Catalog table view
  * [x] API profile

# Wireframe
1. API cards showing 5 lifecycle statuses:
![cardapidesign](https://cloud.githubus

[2016-12-01 09:10] #42 closed

[2016-12-01 10:16] #51 closed

[2016-12-01 10:30] #57 closed

[2016-12-01 10:35] brylie commented on #22
APIKA frontpage would have code in following style
`if (document.location == "https://api.turku.fi/") document.location = "https://api.turku.fi/organizations/turku"`

Yes, we can build a *general purpose* routing hook that would work similar to the code example. We also need a user interface where the host name alias can be optionally configured for each organization.

SSL certificate management i

[2016-12-01 11:08] #55 closed

[2016-12-01 12:52] Nazarah opened #79 "wireframe for "Connecting APIs to an organization""
#73

[2016-12-01 12:54] Nazarah opened #80 "wireframe for "Showing organization APIs on organization page""
#74

[2016-12-01 12:56] Nazarah opened #81 "wireframe for "Allow owner to define lifecycle status for an API""
#75

[2016-12-01 13:00] Nazarah opened #82 "wireframe for "Show lifecycle status for API""
#76

[2016-12-01 13:10] Nazarah commented on #73
It is better to keep the option of adding an organization both in Add API form and API settings tab.
In Add API form, this field should not be mandatory.

@bajiat need clarification: does connecting an API to an organization means from an organization page, you would be able to make calls to that API and/or access its documentation? Please kindly explain.

Open question: suppose API owner has an A

[2016-12-02 12:21] #61 closed

[2016-12-02 13:33] bajiat opened #83 "Unified LAF for API view and Organization view"
This is a wireframe issue only.

Experiment with block design on API view and Organization view. Low fidelity wireframe is sufficient for starters. Keep also the frontpage in mind. Minimise tabs. See feedback from issues #10 and #11.

# Wireframes

I have two type of designs in my mind.
Any of the design can be incorporated for both Organization and API Profiles.
I'll design Organization profile w

[2016-12-02 13:38] bajiat opened #84 "Create organization catalog"
Create a catalog page for listing the organizations added to the service. Keep the style consistent with the API catalog. Start with the card metaphor.

# Definition of done
* [x] User can go to the organization catalog
* [x] All the organizations are visible on the catalog page
* [x] Organizations use card metaphor similar to API catalog
  * [x] name
  * [x] logo
  * [x] description
* [x] Organiz

[2016-12-02 13:47] Nazarah opened #85 "Wireframe for "Create Organization Catalog""
#84

[2016-12-02 13:48] bajiat opened #86 "Design organization routing with respect to APIs and internal API routes"
Some of the organization views have organization as route, while some have organizations. Pick one of the option for consistency and change all organization routes to match.

# Organizations routes proposal

- `/organizations` - organization catalog
  - `/organizations/< slug >` - single organization view

# Related changes
For consistency, we can consider our routing structure for the following c

[2016-12-02 13:50] bajiat opened #87 "Check slug transliteration options"
Check the organization slug transliteration rules and make sure they cover any accented letters required at least in the Finnish and Swedish languages.

[2016-12-02 14:17] marla-singer commented on #84
@bajiat Interested

[2016-12-02 14:18] marla-singer commented on #73
@bajiat Interested

[2016-12-02 14:18] marla-singer commented on #74
@bajiat Interested

[2016-12-04 21:22] frenchbread commented on #72
Interested

[2016-12-04 21:23] frenchbread commented on #50
Interested

[2016-12-05 08:41] bajiat commented on #73
@Nazarah Connecting an API to an organization makes the API visible in the organization page, i.e. there is a catalog of APIs on the organization page. See  #74.  Later, we should also be developing support for API managers for an organization, see #24.

[2016-12-05 08:46] bajiat opened #88 "Set up email configurations for APIKA"
In order to validate emails, allow users to get a new password to replace a forgotten password and to send messages from contact form, to and from emails are required for APIKA.

# Definition of done
* [x] Add the required SMTP settings to Settings
* [x] Add to and from emails
* [x] Ensure that existing users will not have to validate their emails.

[2016-12-05 08:51] bajiat opened #89 "Release testing"
Test the new release on staging server. Report any bugs or enhancement needs to [APIKA repository](https://github.com/Digipalvelutehdas/APIKA/issues).

See the new and improved features in the [release notes](https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development
  * [ ]  Admin can add eMQTT as proxy in Proxies
  * [x] UI for adding an organization
  * [x]

[2016-12-05 09:19] Nazarah commented on #43
For the time being, in organization view, the logo should show a camera icon for editing purpose when mouse is hovered upon it. On clicking the icon, image browser should open.
This should be changed as soon as organization view has a settings page.
then uploading/changing logo should be done from there.

[2016-12-05 09:33] bajiat commented on #72
@frenchbread Please estimate the task

[2016-12-05 09:34] bajiat commented on #73
@marla-singer Please estimate the task

[2016-12-05 09:36] marla-singer commented on #73
@bajiat Estimate is 3 days

[2016-12-05 09:38] marla-singer commented on #74
@bajiat Estimate is 3 days.

[2016-12-05 09:39] bajiat commented on #8
@nnn Would you be interested in this?

[2016-12-05 09:40] marla-singer commented on #84
@bajiat Estimate is 2 days

[2016-12-05 09:46] bajiat opened #90 "Make a release for sprint 1"
- Release notes
- Pull request to master
- Make the release in Github
- Notify about release in Slack

[2016-12-05 09:51] bajiat opened #91 "Architect / diagram organizations and APIs"
Diagram how organizations and APIs are related. This should also allow permissions for adding, editing, deleting, connecting, granting permission.

# Definition of done
- [x] Diagram exists depicting relationship between Organizations and Users

# Diagram
![screenshot_20161208_125826](https://cdn.rawgit.com/apinf/docs/master/docs/develop/Architecture/OrganizationsManagers-UML.svg)

[2016-12-05 10:02] marla-singer commented on #84
@bajiat Do I need to do filtering and sorting in this task or it will be another issue for that?

[2016-12-05 11:25] frenchbread commented on #72
@bajiat Done 👍

[2016-12-05 11:28] bajiat commented on #24
@nnn Could you also take this task? Brylie will take a look at the architecture today. Is the estimate correct?

[2016-12-05 11:44] Nazarah commented on #84
@bajiat @marla-singer consider the following view
![organizationcatalog2](https://cloud.githubusercontent.com/assets/17976243/20883807/afd513ba-baf0-11e6-8dcf-ba8d562db29d.png)
When you click on an orgzanition card, it gives you a preview window as modal.
This includes the card information as well as additional information like no. of users, most popular APIs (currently 3) and a link to view more

[2016-12-05 11:44] bajiat opened #92 "Move any filtering or sorting parameters to Catalog URL"
If the user uses any filtering or sorting options in the Catalog, they should be used as parameters in the URL. This allows them to persist if page is refreshed.

See: https://github.com/kadirahq/flow-router#flowroutersetparamsnewparams

Definition of done
* [ ] Move all sorting/filtering parameters to URL

[2016-12-05 11:44] Nazarah commented on #84
Open question: should we have tabular view for organization catalog as well?

[2016-12-05 11:51] Nazarah commented on #85
wireframe added in issue #84

[2016-12-05 12:38] #35 closed

[2016-12-05 12:43] Nazarah opened #94 "Fix up API card height so that information are not scrambled with each other"
![image](https://cloud.githubusercontent.com/assets/17976243/20885384/340edb72-baf9-11e6-8b69-d8281c5679c7.png)

Right now, if an API is made private, then  a label appears in the card view.
This pushes the description field lower, which in turn gets scrambled with Bookmark, Starrating and add date information.
We need labels to show visibility of the API as well as its lifecycle phase (future imp

[2016-12-05 12:49] brylie commented on #50
Thanks for taking this task @frenchbread.

Previously, we were using imperative code wrapped within other functions, which made it difficult to keep track of what the code was doing with so many parts. Lets try to use declarative code where possible, e.g. template helpers that observe the state of `chartData`.

[2016-12-05 13:12] bajiat opened #96 "Update API Umbrella"
Update umbrella.digipalvelutehdas.fi to the latest Api Umbrella version.

Using the Umbrella deployed to umbrella.digipalvelutehdas.fi allows not changing any API calls that are made to current APIKA version. The Umbrella just needs to be updated.

[2016-12-05 13:13] bajiat commented on #96
@shaliko Can you take this task?

[2016-12-05 13:39] Nazarah commented on #74
Have started adding wireframes, would finish it up by wednesday.

[2016-12-05 13:44] frenchbread commented on #50
@brylie Agreed, previous solution what a bit messy.

[2016-12-05 13:48] Nazarah commented on #4
@kyyberi If we add an organization, should there be option to make it public/private?
For example, in the Add form, the default value can be public.
I was thinking about how an organization profile should look if it is private/public, should we include a toggler to control its visibility.

[2016-12-05 14:39] shaliko commented on #96
@bajiat Sure, just need access to that server.

[2016-12-06 13:55] kyyberi commented on #4
Organization list is by default public. As MVP it contains just basic information and contact. API list is extended (or reduced) when ever API is published (set visibility to public). If I'm from the given organisation I should see all APIs regardless of visibility. The visibility of API for public should be indicated somehow.

[2016-12-06 13:56] kyyberi commented on #4
I kind of dislike the idea on clicking or pointing to menu to find organisations etc. That may remain, but seek for options to select organisations other way. Could there be something below the search field?

[2016-12-06 14:12] kyyberi commented on #15
When do I see Swagger based design driven API development? :)

[2016-12-06 14:24] kyyberi commented on #36
I suggest that in the future major questions to PO are discussed in weekly meeting. I don't have now time to follow github so intensively.

[2016-12-07 07:49] bajiat opened #101 "Connecting API to another proxy has no effect on API key in nightly"
API keys should be connected to proxies. However, connecting an API to another proxy does not update the API key or rather the user is not asked to Get API key. Tested in nightly.

Precondition: current user has an API key for original proxy.

[2016-12-07 07:57] bajiat commented on #101
Closing the issue, there was a step missing from the test. If all required steps are taken, works as expected.

[2016-12-07 07:57] #101 closed

[2016-12-07 08:03] Nazarah commented on #79
Wireframes have been added to issue #73.
Dasha have shown me the new added field for connecting an organization with an API and how to change it from API settings tab as well.
I gave my feedback about showing showing organization information in the API metadata tab.

[2016-12-07 11:55] #43 closed

[2016-12-07 12:24] jykae commented on #15
@kyyberi I found that using Restivus with Swagger plugin allows to develop & design in parallel which I feel effective. However if it's requirement to do this in design-driven approach, I appreciate it, use that method and try to make it in more general Node.js manner.

[2016-12-07 12:27] Nazarah commented on #80
Added wireframes to issue #74

[2016-12-07 12:44] jykae commented on #15
@kyyberi What format https://iow.csc.fi takes in? Data models are defined in using Meteor simple-schema in our application.

[2016-12-07 13:10] jykae commented on #15
@kyyberi @bajiat I stick to proposed & known method for now as it's simplifies also validation as we can use existing collection permissions & schemas easily. It's no problem to add Swagger document to Swaggerhub after I have GET endpoints & we can discuss and improve API agile way. If there's proposal & tools for better approach for given time limits I will consider the option. 🙇

[2016-12-08 07:29] Nazarah opened #102 "wireframe for "Allow owner to connect API to eMQTT""
#72

[2016-12-08 07:32] Nazarah opened #103 "wireframe for "Replaced backend_prefix regex with apiBasePathLooseRegEx""
pull requests: https://github.com/apinf/platform/pull/1964#issuecomment-265425561

[2016-12-08 08:27] Nazarah opened #104 "A new proxy can be added without filling up mandatory information for URL and Elastic Search"
# Reproduction step
1. sign in as APINF admin.
2. Go to profile->Proxy
3. Click Add proxy
4. 1st select proxy type without filling other fields. (mandatory fields don't get populate after selecting proxy type)
5. Fill up name and description and save.

# Result:
Proxy can be added without filling mandatory fields (elastic search and URL).
This behavior doesn't occur if fields are filled serially.

[2016-12-08 08:37] Nazarah commented on #102
Added wireframes to issue #72

[2016-12-08 09:19] saralavanip opened #106 "Delete API 'Dashboard' text not updated"
# Steps
1. Visit https://staging.apinf.io
2. Sign up
3. Add  API without proxy
4. Go to 'Settings'
5. Delete the above added API
6. Go to 'Dashboard' view

# Expected Result
Dashboard text must be updated notifying user 'No APIs to Manage, Add API'

# Actual Result
-  Dashboard text not updated
-  Displays text from previous state ' You have not yet connected your API to a proxy'

# Screenshot
![d

[2016-12-08 09:53] brylie opened #107 "Create a full CRUD REST API for all collections"
Start building our REST API by adding the minimum REST API for all collections. Our REST package gives us a full CRUD API with just a few lines, so lets start there. More specific, composite endpoints can be added as needed.

Related issue #15

# Definition of done
* [ ] REST endpoint exists for all collections
  * [ ] Each endpoint supports common HTTP verbs (e.g. GET, PUT, POST, DELETE)
* [ ] RE

[2016-12-08 11:45] #73 closed

[2016-12-08 12:14] #84 closed

[2016-12-08 12:43] jykae opened #108 "Initial structure for REST API"
- GET endpoints (all, one)
- initial swagger config
- meta
- tags
- path params

[2016-12-08 12:47] jykae opened #109 "REST API authentication"
- enable defaultAuth
- routes for authentication, show in swagger?
- define explicitly which routes require authentication

[2016-12-08 12:54] jykae opened #110 "Add filtering by organization"
- override action() for GET all to handle filtering Apis by organization ID with query param

[2016-12-08 13:54] Nazarah commented on #103
added wireframes to the associated pull request

[2016-12-08 14:24] jykae commented on #107
@brylie collection allow/deny has been discussed, though not available yet https://github.com/kahmali/meteor-restivus/issues/163
However role-based permissions exist, https://github.com/kahmali/meteor-restivus#rolerequired

Related issues: #108 #109 #110

[2016-12-08 14:32] marla-singer commented on #106
@bajiat Verified it on current develop branch and it reproduces as well

[2016-12-08 14:50] jykae commented on #88
@bajiat Checked from mongo that all existing user's have email verified: "true", tried also registering new user, got verification email & using verification link worked.

[2016-12-08 14:59] jykae commented on #88
@bajiat Tried also password reset with "Forgot password", notified "Email sent", got email, used link, got redirected to change password, logged in automatically with new password. Logged out & logged in with new password. Worked 10/10.

[2016-12-08 15:04] jykae commented on #88
@bajiat Tested also proxy call for Teosto API, works.

[2016-12-09 08:50] brylie opened #115 "Consistency between API and Organization catalogs"
Currently, the Organization and API catalogs are distinct in several ways:
- The API catalog has different pagination implementation than the Organization catalog
- The Organization and API catalogs have different sort/filter functionality
- The Organization and API catalogs do not use URL parameters for sorting/filtering

# Task
Unify the functionality and style of the Organization and API catalo

[2016-12-09 09:05] brylie commented on #107
OK, role-based is fine for now, for Admin role only. We need to figure out how to do more granular permissions. E.g. how can we allow an Organization or API manager to edit their API via REST?

[2016-12-09 09:12] #34 closed

[2016-12-09 09:12] #90 closed

[2016-12-09 09:13] Nazarah commented on #81
wireframes added to issue #75

[2016-12-09 10:44] #92 closed

[2016-12-09 11:02] #108 closed

[2016-12-09 11:15] #106 closed

[2016-12-09 11:36] Nazarah commented on #82
wireframes added to issue #76

[2016-12-09 12:26] Nazarah commented on #103
new wireframe has been added to the pull request.

[2016-12-09 12:27] #102 closed

[2016-12-09 12:57] bajiat commented on #79
This was discussed with @kyyberi and the workflow for adding APIs to organization should go like this:
- API owner can suggest APIs to an organization
- organization manager can approve or reject. If approved, the API will be connected to the organization. As a result, the API will be shown in the organization page.

Add API form should not contain the possibility to connect to organization, it sh

[2016-12-09 13:01] bajiat commented on #80
I would suggest not to have infinite scrolling on organization page, but rather have paging just like in the original API catalog.

[2016-12-09 13:03] bajiat commented on #80
If the API is public instead of private, where is the lifecycle phase tag shown? I assume that most organization APIs will actually be public. Connecting them to the organization just makes it easier e.g. for developers to find all APIs published by a certain organization.

[2016-12-09 13:11] bajiat commented on #80
Depricated should be Deprecated

[2016-12-09 13:13] bajiat commented on #80
And I would suggest to use the lifecycle stages: design, development, testing, production, deprecated

[2016-12-09 13:14] bajiat commented on #80
LIfecycle tag colors are ok

[2016-12-09 13:19] bajiat commented on #85
I would suggest that both API Catalog and Organizations would be directly accessible from the top bar. I especially don't want API catalog to be accessible with second selection, it must be directly on the top bar.

[2016-12-09 13:20] bajiat commented on #85
Based on discussion with @kyyberi, there is no need to provide bookmarking, but the number of APIs connected to the organization is needed.

[2016-12-09 13:26] bajiat commented on #82
This is probably nitpicking, but maybe it is best to show the API cards in #76 with the in the order that actually follows the API lifecycle: design, development, testing, production, deprecated.

Some of you wireframes contain other words for the tags than the ones mentioned in the the issue, e.g. Design and prototyping. Please modify.

Like the idea of showing the time when the status was change

[2016-12-09 13:28] bajiat commented on #82
I'm not sure there is a need to filter according to visibility setting. That has not been requested for APIKA.

[2016-12-09 13:31] bajiat commented on #81
I think we would need to check from @kyyberi whether adding the lifecycle status should be mandatory. I can do that in the next status meeting.

[2016-12-09 13:55] bajiat opened #116 "Show admin API in dashboard for each proxy"
Admins should be able to see the analytics dashboard for the admin API of each proxy (at least for each API Umbrella). Make the analytics available for dashboard and allow admins to select the proxy admin api from the select API list. Separate the admin APIs from other APIs in the Select API list.

This functionality was lost, when the query was moved to the server.

# Definition of done
* [ ] Adm

[2016-12-09 14:51] bajiat commented on #96
@shaliko Can I close the issue, since the update has been completed?

[2016-12-10 12:42] shaliko commented on #96
Yes, thanks for reminder

[2016-12-12 08:16] #74 closed

[2016-12-12 09:04] #88 closed

[2016-12-12 09:15] marla-singer commented on #115
@brylie Implemented pagination on APIs catalog and sorting. Now I am working on filtering

[2016-12-12 09:20] bajiat commented on #115
@marla-singer Do you want this issue to be split into two different issues?

[2016-12-12 09:21] marla-singer commented on #115
@bajiat Yes,please. I'd like to separate redesing of catalog card to different issue

[2016-12-12 09:23] brylie commented on #115
@marla-singer I am revising the issue now.

[2016-12-12 09:32] brylie opened #118 "Use Bootstrap classes for catalogue templates, extend/override if needed"
# Context
Our API catalog card view is designed with custom markup/classes. While the resulting design is similar to Bootstrap panels, we have to maintain the custom markup ourselves. This means more work when trying to provide a unified design, e.g. between the API and Organizations catalog.

# Task
Use Bootstrap panels to provide most or all of the style rules for API and Organization cards. Add

[2016-12-12 09:44] brylie commented on #115
Created issue #118 as a follow-up task.

[2016-12-12 12:09] #110 closed

[2016-12-12 13:23] kyyberi commented on #10
For inspiration checkout https://readme.io/ and their examples. This is something I was after, but a little better :)

[2016-12-12 13:30] brylie opened #121 "Use API Umbrella Admin API to get Dashboard Analytics"
# Context
We currently get API Umbrella analytics directly from Elasticsearch via its public HTTP API. [API Umbrella 0.14](https://github.com/NREL/api-umbrella/milestone/10) is planned to disable the public HTTP interface for Elasticsearch by default. This is a [security enhancement](https://github.com/NREL/api-umbrella/issues/287).

# Task
We need to start fetching Dashboard analytics directly fr

[2016-12-12 13:41] brylie commented on #86
Ping @Digipalvelutehdas/apika-tiimi please review the proposal for URL routes. This idea would improve the consistency of our routing and give us room for a simple REST API routing structure.

[2016-12-12 13:52] jykae commented on #86
@brylie I think that 's' character difference for REST API base URL is a bit too close for typos.
Above is the reason for choosing base URL /rest-api that is currently used.

Though I am open to change it if I am only one scared for typos :)

[2016-12-12 14:25] saralavanip commented on #51
verified this resolved issue on https://staging.apinf.io

[2016-12-12 14:28] saralavanip commented on #89
- Verified resolved issues #51, #56 and they are not reproducible.
- Reported issue #106

[2016-12-13 08:15] #103 closed

[2016-12-13 08:24] brylie commented on #86
What could be some possible situations where a typo would cause problems? How much difficulty might they cause?

[2016-12-13 08:26] philippeluickx commented on #86
Agreed, most URLs are not typed. Or are you worried for typos in the code?
Another option could be to prefix e.g. /internal/apis

[2016-12-13 08:33] Nazarah commented on #85
@bajiat @marla-singer based on the feedback from Jarkko, I have modified the wireframes and added them in the original issue #84
the wireframes now show Organization catalog as a separate menu on top bar
Should you reopen the issue and incorporate the changes?

[2016-12-13 08:40] brylie commented on #27
@tuukka, what would the authentication and request flow look like in this scenario?

## User authentication against HSL.fi
[code]
![screenshot_20161213_103941](https://cloud.githubusercontent.com/assets/17307/21133220/7fb0d468-c120-11e6-8f71-471fb68bd504.png)

## Full flow with proxy request/response and auth agains HSL.fi
Note: This is the same flow as above, with additional detail showing the pr

[2016-12-13 09:29] bajiat opened #124 "Research how to integrate Apika with EMQ"
Clarify how an MQTT API can be connected to eMQ broker / proxy via APIKA. REST APIs are connected to proxy (e.g. API Umbrella) through an internal Admin API. Determine the options for connecting the MQTT API.

# Definition of done
* [ ] Look into options for connecting the API
* [ ] Select the most reasonable option
* [ ] Document the options and the recommendation

[2016-12-13 09:44] Nazarah commented on #73
@marla-singer : please add a help text under  Connect API to an Organization.
"You can connect your API to an organization. Organization Manager will review your request. If approved, your API should appear in the Organization profile. You can also change the organization and disconnect your API from any organization."

[2016-12-13 09:46] Nazarah commented on #79
@bajiat have made the suggested changes in the wireframes and added them to the main issue #73
Would you reopen the issue?

[2016-12-13 09:47] Nazarah commented on #73
@marla-singer : have made changes in the wireframes.
You may need to remove Connect API to an Organization field from Add API forms.

[2016-12-13 09:54] brylie commented on #124
At first glance, there seem to be several related EMQ components here:

- [HTTP Publish API](http://emqtt.io/docs/v2/guide.html#http-publish-api) - HTTP API for publishing messages to MQTT channels
- [username/password auth](http://emqtt.io/docs/v2/guide.html#username-password) - required by HTTP Publish API and ACL
- [ACL](http://emqtt.io/docs/v2/guide.html#acl) - rules to allow MQTT clients to p

[2016-12-13 10:05] brylie commented on #124
A high-level goal might be described as **"create a REST API for `emqttd_ctl`"**.

- [emqttd_ctl commands](http://emqtt.io/docs/v2/commands.html)

[2016-12-13 10:21] brylie commented on #124
I opened an [upstream issue](https://github.com/emqtt/emqttd/issues/820) to get support and/or feedback for this idea.

[2016-12-13 10:44] bajiat commented on #27
Comment from @kyyberi: API owner should be able to configure the external authentication provider tin this case.

[2016-12-13 10:46] brylie commented on #27
It might be worth considering whether only **Administrator** users should configure Authentication Providers, or whether it is necessary to provide this functionality for **API Managers**.

[2016-12-13 10:47] brylie commented on #27
It is just that authentication is so close to being a Proxy setting, and we currently allow only Administrators to manage Proxy settings.

[2016-12-13 10:47] brylie commented on #27
We will need to research what this specifically means in terms of our upstream proxy/ies (API Umbrella).

[2016-12-13 10:48] bajiat commented on #27
It could also be organization manager or admin?

[2016-12-13 10:50] brylie commented on #27
In other words, the **API Owner** may configure an Authentication Provider for their API, expecting the Proxy to only allow calls to their endpoint(s) to be authenticated against the specific Provider. However, the Proxy may simply be tracking requests against general provider tokens, e.g. via a header. There are some subtleties here that we need to clarify.

[2016-12-13 11:03] bajiat commented on #75
@Nazarah and @brylie I confimed with @kyyberi that this is a valid list for lifecycle statuses: design, development, testing, production, deprecated

[2016-12-13 11:26] brylie commented on #27
@tukka what type of usage are we tracking? Specifically, is this mainly related to REST of MQTT usage?

[2016-12-13 11:57] bajiat opened #126 "Add statistics block to front page"
Add a statistics block containing number of APIs, users and organizations to front page.

Enhancement idea for later: nr of relayed API calls.

# Definition of done
* [ ] Any user can see statistics about APIKA on the front page
  * [ ] number of added public APIs
  * [ ] number of signed up users
  * [ ] number of added organizations.
* [ ] The style of the block is inline with the style of the f

[2016-12-13 11:58] #96 closed

[2016-12-13 12:03] bajiat opened #127 "Allow API owner to add oembed content for an API"
Related to #16

# Definition of done
* [ ] API owner can find a button or similar to add content to API profile.
* [ ] Pressing the button opens a form or modal to add the necessary fields (e.g. link, title, description) for the content
* [ ] The content of the form is stored in a collection.
* [ ] When there is no content, only the owner sees the panel with the button that allows to add the oembe

[2016-12-13 12:04] bajiat opened #128 "Allow owner to approve or disprove oembed content suggested for API"
Mirror the user flow for connecting an API to an organization
Consider also if there should be an approval panel that contains both suggested APIs and suggested content

[2016-12-13 12:33] bajiat commented on #83
@Nazarah Please note that organization members has not been requested as a feature for APIKA.

[2016-12-13 12:37] bajiat opened #129 "Modify API profile LAF"
The request for APIKA has been to have a API profile thatt does not use so many tabs, but rather utilises blocks of information. Designed in #83.

[2016-12-13 12:54] Nazarah commented on #82
@bajiat have an open question: If API owner selects any of the statuses apart from "Undefined" would it be possible for reselecting that status anymore? or once you have selected any of the predefined status, the dropmenu should no longer show "Undefined" tag?

[2016-12-13 13:04] bajiat opened #130 "Allow rendering oembed content for API"
Allow rendering of added oembed content in the API profile. Everybody should see the block and it should contain the latest content (by date added).

Open issue: How to see more content?

# Definition of done
* [ ] The API profile main view contains a block for recent content.
* [ ] The maximum number of items is (TBD).
* [ ] Consider whether the block could have pagination for more content.
* [ ]

[2016-12-13 13:41] bajiat commented on #79
@Nazarah:
- Add a workflow: API owner suggests APIs, organization manager approves or rejects. Only after that the info about organization can appear on API profile.
- Consider how to show to owner that this is a suggestion that is pending approval (S alert, other notification, the title of field in API settings)

[2016-12-13 13:51] bajiat commented on #81
@Nazarah Move the place of the tag and drop down menu. It should be in the same area as private tag or rather next to it.

[2016-12-13 13:55] bajiat commented on #81
@Nazarah
Modified suggestion: Adding the status should not be mandatory. Lifecycle status is also not included in the Add API form. On the API profile, there is an undefined/unknown status shown until API owner selects a lifecycle status. Once manager defines the lifecycle, it should not be possible to select undefined/unknown anymore.

[2016-12-13 13:59] bajiat commented on #82
@Nazarah: The confirmed list for lifecycle status is design, development, testing, production, deprecated. Please modify wireframes accordingly

[2016-12-13 14:10] bajiat opened #131 "Allow organization managers to define organization contact person"
At the moment, organization contact person can only be added when organization is added. There is no option to modify the contact person.

Allow organization managers and admins to define the organization contact person.

Proposal 1: free text: name, phone number or email
Proposal 2: Select one of the organization managers as contact person. Extend the current user profile to contain full name and

[2016-12-13 14:15] bajiat opened #132 "Modify workflow for connecting an API to an organization"
The workflow for connecting an API to an organization is the following:
1. API owner suggests APIs
2. Organization manager approves or rejects.
3. Only after that the info about organization can appear on API profile and API will actually be connected to an organization and shown in organization profile.

[2016-12-13 14:19] bajiat opened #133 "Organization managers inherit API manager rights for connected APIs"
When an API gets connected to an organization, each of the organization managers for that particular organization should inherit API manager rights for any APIs that are connected to the organization.

# Definition of done
* [ ] An organization manager has the same rights as the original API manager to edit, delete the API after an API has been connected to an organization.

[2016-12-13 14:22] bajiat opened #134 "Show nr of connected APIs in organization card"
The below left corner of organization card should display and indicator the number of connected APIs for each organization.

If possible,  use the same implementation and style to show the number of connected APIs on the organization profile. Size of indicator could  scaled up for the profile page.

# User story

so that it makes my organization more appealing to developers.

# Definition of done

[2016-12-13 14:58] shaliko commented on #27
@brylie @tuukka I have questions related to case When "login.hsl.fi" is OAuth provider.

[code]

![diagram__7__svg](https://cloud.githubusercontent.com/assets/36139/21144559/329e2338-c15c-11e6-9203-24cc472e71aa.jpg)

1) How proxy will validate that it got "Authenticated" request? The DB with valid tokens on "login.hsl.fi". Or we no need care about it and in this case delegate authentication to "Ba

[2016-12-13 15:20] bajiat opened #135 "Modify top bar links to Organization and API catalogs"
The API catalog should be directly accessible from top bar instead of accessing it through Catalog and then selecting APIs. Include APIs and Organizations as links to top bar as links to the relevant Catalogs. Note that APIs should come first.

# Wireframe

Picture of the new top bar that houses both API Catalog and Organization Catalog as separate links.
API catalog comes first, then Organization

[2016-12-14 08:12] Nazarah opened #136 "Sent an email to API Manager in case Organization Manager rejects the API Connection request"
An email should be sent to the API owner making him aware that his API was not permitted to connect in his chosen organization.

[2016-12-14 08:28] bajiat commented on #132
@Nazarah Consider also combining wireframes into user flow(s)

[2016-12-14 08:35] bajiat commented on #131
Estimation is for free text.

[2016-12-14 08:55] marla-singer commented on #135
@bajiat Like this ?
![joxi_screenshot_1481705686911](https://cloud.githubusercontent.com/assets/20643403/21175594/2d58ddd0-c1f4-11e6-89d1-24ad4a798748.png)

[2016-12-14 09:16] bajiat commented on #86
@brylie I'm ok with plural for organizations and apis

[2016-12-14 09:54] Nazarah commented on #79
@bajiat suggested modifications are added to the original issue.

[2016-12-14 09:56] Nazarah commented on #132
Please consider the fact when an API owner deselects the organization from API Settings tab, should the organization manager still have the privilege of managing the API?

[2016-12-14 10:02] Nazarah commented on #115
@marla-singer @brylie : Have you decided on what categories you will consider for both the sorting and filtering option?

[2016-12-14 10:18] saralavanip opened #138 "Change API proxy not updating 'API URL' in Details view"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. proxy 1 , proxy 2)
5. Sign out
6. Sign Up / Sign In as owner
7. Add API (eg. API 1) with proxy (eg. proxy 1)
8. Go to API view and click on 'Proxy'
9. Select 'proxy 2' from drop down menu
10. Confirm clicking on 'Change API proxy' button

# Findings
- API URL in 'Details' view not u

[2016-12-14 10:52] Nazarah commented on #81
Changes have been made to the wireframes. They are now added to the main issue. #75

[2016-12-14 11:05] bajiat commented on #128
Closing since it is only the API owner who is able to add the content

[2016-12-14 11:05] #128 closed

[2016-12-14 11:41] brylie commented on #115
Here are some:

Sort:
- alphabetical
- date created
- popularity

Filter:
- My APIs
- My Organization(s)

The query parameters don't need to be exact between Organizations and APIs, but should overlap somewhat.

[2016-12-14 12:02] Nazarah commented on #82
@bajiat changes have been made to the wireframes. They are added in the main issue #76

[2016-12-14 12:20] Nazarah commented on #85
Changes have been added to wireframes.
The wireframes are now available on issue #84

[2016-12-14 12:27] Nazarah commented on #80
"If the API is public instead of private, where is the lifecycle phase tag shown? I assume that most organization APIs will actually be public. Connecting them to the organization just makes it easier e.g. for developers to find all APIs published by a certain organization."

If an API owner suggests one of his/her private APIs then, when the request is approved, should we make the API public by d

[2016-12-14 12:40] Nazarah commented on #80
@bajiat
"I would suggest not to have infinite scrolling on organization page, but rather have paging just like in the original API catalog."

If we wish to implement the organization profile page functioning the way APInf project page does, I'd suggest to have an infinite scrolling there. Right now with APInf project page, you can always browse between sections either by clicking on them or scroll

[2016-12-14 12:49] saralavanip opened #139 "'Add organization' as admin doesn't notify user with successful message"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Click on 'Add Organization'
4. Fill the form with all the required details
5. Click on 'Create Organization' button

# Expected Result
- Notify user with successful message

# Actual Result
- User not notified with successful message

[2016-12-14 12:55] saralavanip opened #140 "Organization catalog not available for users"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Click on 'Add Organization'
4. Fill the form with all the required details
5. Click on 'Create Organization' button
6. Go to Catalog

# Expected Result
-  Organization catalog available for users

# Actual Result
- Organization catalog not available for users

[2016-12-14 13:12] Nazarah opened #141 "wireframe for "Modify workflow for connecting an API to an organization""
#132

[2016-12-14 13:12] Nazarah commented on #141
wireframes with user flow has been added to issue #132

[2016-12-14 13:19] Nazarah commented on #115
@brylie : for the organization I suggest to exclude the sort category "popularity". From the weekly update meetings @kyyberi  suggested that we don't need to include popularity/rating options for organizations.

One more suggestion is that we can include "My APIs in Organizations". This would filter the organizations to which an API owner has his/her APIs connected.

[2016-12-14 13:20] Nazarah opened #142 "wireframe for "Consistency between API and Organization catalogs""

[2016-12-14 13:47] bajiat commented on #132
Hm, wondering whether we will need a desecting workflow?

[2016-12-15 07:12] #141 closed

[2016-12-15 07:13] #79 closed

[2016-12-15 07:14] #81 closed

[2016-12-15 07:16] #82 closed

[2016-12-15 07:18] #85 closed

[2016-12-15 08:00] bajiat commented on #80
@Nazarah

I don't think we have the right to set a private API to public. That is something that should be explicitly changed by API owner. But when an API is connected to an organization, should we somehow make clear that the organization managers will inherit the rights to manage the API?

Infinite scrolling can be quite unusable on a page that contains a catalog, especially if we have an organi

[2016-12-15 08:36] Nazarah commented on #80
@bajiat thanks for clarifying the queries. I can incorporate a notification text informing the API owner that organization manager would inherit managerial role for private APIs as well.
I think Pagination would be possible to implement. I'll sketch somehting and show u. :)

[2016-12-15 08:58] #142 closed

[2016-12-15 08:58] Nazarah commented on #142
not needed for task #115

[2016-12-15 09:34] saralavanip opened #143 "User unable to add API with other proxy"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. proxy 1 , proxy 2)
5. Sign out
6. Sign Up / Sign In as owner
7. Click on Add API
8. Fill the  required fields
9. Select proxy (eg. proxy 2)
10. Fill the required fields
11. Click on 'Save&Publish' button

# Expected Result
User able to add API with other proxy

# Findings
- User una

[2016-12-15 10:19] Nazarah opened #144 "wireframe for "Add statistics block to front page""
#126

[2016-12-15 10:25] Nazarah opened #145 "wireframe for "Allow API owner to add oembed content for an API""
#127

[2016-12-15 10:26] Nazarah opened #146 "wireframe for "Allow rendering oembed content for API""
#130

[2016-12-15 10:46] Nazarah opened #147 "wireframe for "Refactor frontpage""
#17

[2016-12-15 10:47] Nazarah opened #148 "wireframe for "Unified style""
#11

[2016-12-15 10:48] Nazarah opened #149 "wireframe for Oembd to add content to API profile"
#16

[2016-12-15 11:23] saralavanip opened #150 "Admin Dashboard:'Select API' list not segregated"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Navigate to'Dashboard '
4. Click on 'Select API' drop down menu

# Expected Result
Show the segregated list of APIs: 'Admin APIs','My APIs' and 'Other'

# Actual Result
API list not segregated. It shows all APIs as 'My APIs'

# Screenshot
![dashboard_only_myapis_list](https://cloud.githubusercontent.com/assets/13309358/21222245/a49ccd6

[2016-12-15 11:29] marla-singer commented on #135
@bajiat Can I take it on work?

[2016-12-15 11:37] marla-singer commented on #139
@bajiat It's really simple to fix. Can I take it on work?

[2016-12-15 11:42] bajiat commented on #139
@marla-singer Yes, sure, go ahead.

[2016-12-15 11:44] Nazarah commented on #135
@marla-singer : Let me give you the picture I designed for

[2016-12-15 11:45] bajiat commented on #135
@marla-singer Yes, you can take this. Just use "APIs" instead of "APIs catalog".

[2016-12-15 12:51] saralavanip opened #153 "Metadata: 'Phone' and 'Email' fields not validated in 'Contact' form"
# Steps
1. Visit https://staging.apinf.io
2. Sign Up
3. Add API
4. Go to Catalog
5. Click on 'My APIs' tab
6. Select the above API added
7. Click on 'Metadata' tab
8.  Click on 'Edit Metadata' button
9. Enter 'Contact' details : Name, phone (eg. test) and email (eg. test-services)
10. Click on 'Save metadata' button

# Expected Result
-  Highlight the 'Phone' and 'Email' fields with error message

[2016-12-15 12:56] #135 closed

[2016-12-15 12:57] #139 closed

[2016-12-15 15:14] jykae opened #154 "Migrate cPouta volume for umbrella"
umbrella.digipalvelutehdas.fi umbrella has old type volume in cPouta Openstack environment.
Check steps required from email. Take snapshot & migrate volume to new type 'standard'.

**Note**: for smooth operability, do before 29.12 maintenance.

[2016-12-16 09:37] bajiat opened #156 "Make contact person optional in Add Organization form"
It should be simple to add an organization to APIKA. It is possible that it is unclear who will be the contact person for the organization while the organization is being added. The fields related to contact person should not be mandatory on the form.

# Definition of done
* [ ] User can save the Add Organization form without giving  contact information.

[2016-12-16 09:38] bajiat opened #157 "Remove organization from Add API form"
We would like to separate adding an API and connecting an API to an organization. This would keep the Add API form as simple as possible and not confuse API owners who are not affiliated with any organization.

# Definition of done
* [x] There is no option / field for adding an organization in the Add API form

[2016-12-16 09:39] bajiat opened #158 "Connect API to an organization from API settings"
If the current user is both organization manager and the owner of current API, the user needs to be able to connect the current API to an organization the user is managing. API settings should contain a field to connect API to organization and that field should only be conditionally available.

# Definition of done
* [x] An API owner can see a Connect API to an organization setting in Settings tab

[2016-12-16 09:40] bajiat opened #159 "Connect API to an organization from organization profile"
An organization manager needs to be able to connect APIs to the manager's organization. The manager can only do this if he/she also an API manager.

The organization profile needs to contain an option to Connect APIs to an organization and that option is only visible if the user is both manager of current organization and an API owner.

# Definition of done
* [ ] An organization manager can see a

[2016-12-16 09:40] #109 closed

[2016-12-16 09:40] bajiat opened #160 "Modify schemas for API and organization relationship"
The API collection/schema should not contain the organization id, because that would make organization a mandatory feature. Additionally, it could make a potential enhancement - suggesting APIs to a connection - more difficult to implement.

Consider a joint schema for the connection or move API id to organization collection.

# Possible relationships
Based on discussion between @bajiat and @bryli

[2016-12-16 11:19] #86 closed

[2016-12-16 11:26] bajiat commented on #124
Let's create an issue to test adding a user and access control rule a particular topic

[2016-12-16 11:26] #124 closed

[2016-12-16 11:26] bajiat opened #161 "Test adding a user and access control rule to a particular MQTT topic"
On our EMQ deployment, we need to be able to add new users and publish to various topics. We will also want to restrict topics, so they are only accessible for specific users.

See #124 for suggestion on where to start testing.

# User story

[2016-12-16 11:40] bajiat opened #162 "Unify organizations and apis routes"
Follow the recommendation from #86 and change the routes for
- organization catalog
- individual organization profile
- API catalog
- individual API profile
- REST api

Also, consider the impact of the change.

[2016-12-16 13:36] jykae commented on #138
Interested

[2016-12-16 13:38] jykae commented on #104
@preriasusi you are famous video actor :D

[2016-12-16 13:41] jykae commented on #160
Interested

[2016-12-16 13:49] jykae commented on #157
Interested

[2016-12-16 14:01] bajiat commented on #104
@marla-singer Can we move this issue to In progress column?

[2016-12-16 14:01] marla-singer commented on #104
@bajiat sure

[2016-12-16 14:03] bajiat opened #163 "Build a proper connection between API metadata and organization"

[2016-12-16 14:07] bajiat opened #164 "Test normal deployment conditions for ElasticSearch"
Ensure that we can get analytics data for APIKA, apinf.io and staging, where ElasticSearch is not exposed by public HTTP

[2016-12-16 14:20] saralavanip opened #165 "Change proxy and Call API doesn't update data on 'Dashboard'"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. proxy 1 , proxy 2)
5. Sign out
6. Sign Up
7. Add API (eg. API 1) with proxy (eg. proxy 1)
8. Get API key  and call API
9. Go to API view and click on 'Proxy'
9. Select 'proxy 2' from drop down menu
10. Confirm clicking on 'Change API proxy' button
11. Get API key and call API
12. Go

[2016-12-16 14:35] shaliko commented on #121
After implement that feature we will not need direct connect from Platform to ElasticSearch and can update docker-compose file. At lease drop 2 lines https://github.com/apinf/platform/blob/develop/docker-compose.yml#L14-L15

[2016-12-16 14:38] bajiat commented on #76
<span class="label label-default">Default</span> use for undefined
<span class="label label-primary">Primary</span> use for development
<span class="label label-success">Success</span> use for production
<span class="label label-info">Info</span> use for design
<span class="label label-warning">Warning</span> use for testing
<span class="label label-danger">Danger</span> use for deprecated

[2016-12-16 14:42] marla-singer commented on #156
Interested

[2016-12-16 14:43] marla-singer commented on #134
Interested

[2016-12-16 14:44] marla-singer commented on #158
Interested

[2016-12-16 14:49] jykae commented on #163
Interested

[2016-12-19 04:00] Nazarah commented on #121
Will this have any impacts on UI in current APInf?

[2016-12-19 07:23] #50 closed

[2016-12-19 07:44] #115 closed

[2016-12-19 08:22] bajiat commented on #164
@shaliko Could you clarify how we are getting the Elastic Data in each deployment?

[2016-12-19 08:26] bajiat commented on #138
@jykae Assigned you. Please estimate.

[2016-12-19 08:28] bajiat commented on #161
@frenchbread Can you take this task? If yes, please keep us updated, because we need this to move forward.

[2016-12-19 08:31] bajiat commented on #160
@jykae Please estimate

[2016-12-19 08:33] bajiat commented on #159
@marla-singer Could you take this task? It is related to #158 and should largely share template and code with the other task

[2016-12-19 08:33] bajiat commented on #158
Please estimate

[2016-12-19 08:34] bajiat commented on #157
@jykae This is related to your schema task. Please estimate.

[2016-12-19 08:39] marla-singer commented on #159
@bajiat yes. Estimeted it in waffle

[2016-12-19 08:46] marla-singer commented on #158
@bajiat Done.

[2016-12-19 08:48] bajiat commented on #121
@Nazarah It should not make any difference. It affects the server methods for fetching data. Potential impact: removing ElasticSearch from Proxies in settings menu. If something is not available through admin API, that could affect charts and filtering. The current assumption is that the same data would be available.

[2016-12-19 08:52] shaliko commented on #164
@bajiat "APIKA, apinf.io and staging" that question more for Platform developers. Based on code that was shared by @brylie Meteor app (backend side) directly connect to "ElasticSearch" https://github.com/Digipalvelutehdas/APIKA/blob/develop/dashboard/server/methods.js#L27.

In our docker-compose deployment config, ElasticSearch works in separate docker container that not public and connection to i

[2016-12-19 08:55] marla-singer commented on #160
@jykae I think my tasks #158 #159 depend on your schema. When are you going to start this task? I'd like to see a diagram sketch

[2016-12-19 09:07] bajiat commented on #140
@saralavanip Can you add the release nr from About in all your bug reports from now on?

Organization catalog was not implemented yet. Closing the issue.

[2016-12-19 09:07] #140 closed

[2016-12-19 09:08] bajiat commented on #143
@brylie Can you take a look at this?

[2016-12-19 09:15] Nazarah commented on #159
@marla-singer @bajiat let me know your feedback about the wireframes

[2016-12-19 09:19] marla-singer commented on #159
@Nazarah Why do we have text "Suggest an API" but no "Connect API" or "Add API"?

[2016-12-19 09:24] Nazarah commented on #158
@marla-singer @bajiat let me know your feedback about the wireframes.

[2016-12-19 10:09] Nazarah commented on #131
@bajiat @brylie please give your feedback about the wireframes

[2016-12-19 10:16] Nazarah commented on #134
@bajiat @marla-singer consider the scenario in Organization profile
When you first view it, you see the number of APIs
![contactpersonsettings](https://cloud.githubusercontent.com/assets/17976243/21308913/b6ca8502-c5e4-11e6-96e0-171eea2470a3.png)
However, when filtering option in the organization page will be implemented, a filtering result would change the number of APIs displayed. These would be

[2016-12-19 10:35] saralavanip commented on #140
@bajiat , OK! Sure, I'll add the release number .

[2016-12-19 11:02] marla-singer commented on #159
@Nazarah I like the alt. design suggestion with a small button in the API view.
What do you think @bajiat ?

[2016-12-19 11:27] bajiat commented on #134
@Nazarah

Maybe the number for APIs could be in the organization information together with logo, name, contact person? In that case, it could be the total number of APIs, rather than than total number of APIs shown/filtered currently?

Please also note that the request was to show a similar icon for the page as for the card in organization catalog., i.e. share the implementation.

[2016-12-19 11:28] bajiat commented on #160
@brylie Can you share the diagram(s) we sketched on the whiteboard?

[2016-12-19 11:31] bajiat commented on #159
@marla-singer @nazarah I also like the alt design, feels like its simple to add APIs to an organization.

[2016-12-19 11:39] bajiat commented on #158
@Nazarah Where can I find the wireframes for this flow (no suggestion + approval)?

[2016-12-19 11:40] bajiat commented on #131
@Nazarah Where can I see the wireframe?

[2016-12-19 12:26] brylie commented on #160
@bajiat I added the **Possible relationships** section to the issue description.

[2016-12-19 12:38] brylie commented on #143
@bajiat this may, in part, be due to invalid configuration settings for the second Proxy:

![screenshot_20161219_143701](https://cloud.githubusercontent.com/assets/17307/21313133/b0d42108-c5f8-11e6-9b31-908dd9dab7d2.png)

I.e. what is the status of **nightly-second-umbrella.apinf.io**?

[2016-12-19 12:53] bajiat commented on #160
thanks @brylie

[2016-12-19 12:55] bajiat commented on #160
@brylie @jykae @marla-singer In my opinion, the option D would give us the ultimate flexibility for connecting apis and organizations. Also, it would allow for organizations being an optional module, if we later decide to make it one.

[2016-12-19 14:22] marla-singer commented on #159
@bajiat My undesrtading is user can add API if user is manager of current organization, user is manager of selected API **and** API doesn't connected to another one organization. What about the third condition?

[2016-12-20 01:06] frenchbread commented on #161
@bajiat Self-assigned

[2016-12-20 02:55] Nazarah commented on #131
@bajiat for some reason, the upload was not completed, yet in preview the wireframes appeared. I am readding them. sorry for the mishap.

[2016-12-20 03:15] Nazarah commented on #134
@bajiat please have a look at this one. Would it suffice? This way user will always get to see the number of connected APIs regardless wherever s/he is in the organization profile.
![connectedapis](https://cloud.githubusercontent.com/assets/17976243/21337122/309a5c2a-c673-11e6-92e3-b194f954289c.png)

[2016-12-20 07:29] kyyberi opened #168 "Connect Bounty programs to API profile page"
As a API owner I would like to link my Bounty program to API profile page. An example is HackerOne bounty program. This might get more developers to engage with my API and increase the security of it.

[2016-12-20 07:36] marla-singer opened #169 "Anonymous user can't see any Organization profile"
Anonymous user can't see any Organization profile, looks like the empty page.
### Steps
1. Go to nightly.apinf.io
2. Sign out if you was sign in
3. Navigate to Organizations Catalog
4. Select any organizations

### Found
Empty page without information about organization

### Expected
Any user can see organization profile

[2016-12-20 08:26] marla-singer commented on #159
@bajiat Also can administrator connect (suggest) APIs to organization? And which apis does admin connect to : any apis or just own apis?

[2016-12-20 08:28] brylie commented on #158
@marla-singer please see discussion in issue #160. We haven't fully decided how to relate organizations and APIs, i.e. what relationship type to use. We need to arrive at a group decision before going further with this task.

[2016-12-20 08:31] brylie commented on #131
The mockups look good.

[2016-12-20 08:31] marla-singer commented on #158
@brylie Well, so when will question about schema be resolved?

[2016-12-20 08:34] brylie commented on #158
You can contribute your thoughts in the discussion. We will try to reach a consensus in the next day or so.

[2016-12-20 08:43] marla-singer commented on #160
As for me **A** and **B** cases  are not enogh for us. We have dual-sided connection between Organization and APIs collections. The **C** case is obviously solution. And yes, maybe **D** case would give us the flexibility in future but it'd be also hard to implement

[2016-12-20 08:52] brylie commented on #160
For option **d**, implementation would be something like this:

- create a collection to for the relationship, e.g. `OrganizationApis`
- create a basic schema for the collection
  - `organizationId`: *String*
  - `apiIds`: *Array* of *String*
- UI component from Organization and API profile views, shared code
  - Modal dialogue
  - AutoForm for `OrganizationApis` collection (insert and update)

[2016-12-20 09:18] brylie commented on #160
/cc @philippeluickx

[2016-12-20 09:23] brylie opened #170 "Filter APIs by lifecycle status in API catalog"
Once the API Lifecycle Status feature is working, we want to allow users to filter by lifecycle status when browsing the API catalog.

This issue is a placeholder for further discussion, and will be updated when we are closer to working on the task.

# Wireframes

1. API filtering from API catalog
![apicatalognew2](https://cloud.githubusercontent.com/assets/17976243/21539093/f64b59f8-cdab-11e6-825

[2016-12-20 09:25] philippeluickx commented on #170
Should we filter out deprecated APIs by default? How can we give a clear visual hint of this then?

[2016-12-20 09:25] philippeluickx commented on #170
I assume when placing multiple values, the filter should be "OR".

[2016-12-20 09:26] philippeluickx commented on #170
What are the usecases for filtering? When would someone want to filter for anything except the "Live - production" APIs?

[2016-12-20 09:48] philippeluickx commented on #160
Definitely leaning towards option D. @marla-singer what would be the main challenges for this implementation?

We could start naming them as integration? E.g. Organization-Api-Integration package.

[2016-12-20 10:09] marla-singer commented on #160
@philippeluickx I don't know. Can't see the overall picture and have a lot of question. Hope it will bemore clear after realization

[2016-12-20 10:17] brylie commented on #170
/cc @bajiat @kyyberi

[2016-12-20 10:17] brylie commented on #8
@philippeluickx right now we are considering that an API should only be related to one organization.

[2016-12-20 10:56] philippeluickx commented on #8
Ok, clear!

[2016-12-20 10:57] philippeluickx commented on #160
Fair concerns and I do agree complexity will be higher. Considerig the modularity we try to achieve, it's pretty much the only option I can see work in the long run though.

[2016-12-20 11:07] brylie commented on #160
@marla-singer for some additional context, we are working to break our project into modules, so that we can publish them to NPM. This would mean that an Apinf deployment, such as Apika, could pick the modules that were suitable for their needs. To work towards this goal, we are [discussing how to architect our code as a collection of modules, with a module management UI](https://github.com/apinf/p

[2016-12-20 12:02] bajiat commented on #170
See related issue #8

Are these potential use cases for filtering of other that production apis:
* design: you would like to comment already at the design phase
* testing: you want to see what is coming

[2016-12-20 12:03] #75 closed

[2016-12-20 12:26] bajiat commented on #89
Closing the issue, since testing is completed.

[2016-12-20 12:26] #89 closed

[2016-12-20 12:51] bajiat commented on #169
@marla-singer Could you add Steps to reproduce, Expected result and Actual result?

[2016-12-20 12:57] brylie commented on #76
Follow up task to [filter API catalog by Lifecycle Status](https://github.com/Digipalvelutehdas/APIKA/issues/170)

[2016-12-20 13:29] Nazarah commented on #159
@marla-singer : sorry for the label mishap. It should be "Connect an API".
If an user is an organization manager AND s/he has her own APIs, then s/he would be able to connect only those APIs to organization.
So on clicking the dropmenu, only those APIs should appear to which s/he has managing rights.
Let me know if I could explain this to you.

I am ok with the Alternate suggestion as well.
Just m

[2016-12-20 15:01] bajiat opened #173 "Release testing for sprint 2 work"
Test the 0.37.0 release on staging server. Report any bugs or enhancement needs to [APIKA repository](https://github.com/Digipalvelutehdas/APIKA/issues).

See the new and improved features in the [release notes] for 0.37.0 (https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development, for example
  * [x]  API owner can select lifecycle state for an API
  * [x] U

[2016-12-20 15:17] bajiat commented on #159
@marla-singer: Admins can do anything. No restrictions about managed
organization or owned APIs.

2016-12-20 15:29 GMT+02:00 Nazia Hasan <notifications@github.com>:

--
---------
*Taija Björklund*
p. 040 5177 969
taija.bjorklund@gmail.com
www.linkedin.com/in/taijabjorklund

[2016-12-20 15:20] bajiat commented on #159
@marla-singer "What about the third condition?" Can you clarify what was the question about?

[2016-12-21 05:13] marla-singer commented on #169
@bajiat Done

[2016-12-21 05:25] kyyberi commented on #169
Confirmed, I get the same result.

[2016-12-21 05:27] marla-singer commented on #159
@bajiat I meant we have three conditions for APIs that can be connected to organization by current user:
1. User must be manager for this organization
2. User can add APIs that were managed by him
3. Usen can add APIs that don't have connection to other organization (I told about this condition)

Should I have in mind this point or User can add managed APIs that both don't have connect to organiza

[2016-12-21 06:04] marla-singer commented on #159
@Nazarah Now it looks like this
Button on Organization profile
![joxi_screenshot_1482310760670 1](https://cloud.githubusercontent.com/assets/20643403/21378910/ee48819c-c741-11e6-92fd-c87257980e82.png)
After clicking these is shown form
![joxi_screenshot_1482311442217](https://cloud.githubusercontent.com/assets/20643403/21379120/593978b6-c743-11e6-9114-da62d182f138.png)

[2016-12-21 08:27] bajiat commented on #159
@marla-singer Thanks for the clarification. Each API should be connected to one organization only, so you're right about a third condition. The API can be connected only, if it is not connected to any organization yet.

[2016-12-21 08:36] jykae commented on #154
Volume did not have data, was able to unmount, removed from system fstab & rebooted VM successfully. Closing issue

[2016-12-21 08:36] #154 closed

[2016-12-21 09:07] Nazarah commented on #80
@bajiat added the necessary changes and uploaded the wireframes to the main issue.

[2016-12-21 09:22] Nazarah commented on #159
@marla-singer : great work Dasha. :)

[2016-12-21 09:31] bajiat commented on #161
@frenchbread Any updates on this task? Can you keep us updated regularly, e.g. daily? You can add you status update e.g. as comments to the issue. Or post to Apinf channel in RC.

[2016-12-21 10:08] frenchbread commented on #161
@bajiat I was just about to. Doing a research on EMQTTD since, as noted, it doesn't provide open REST interface to POST data into it (e.g. users, subscriptions, messages etc.) and everything related to adding stuff to there supposed to be done through user interface, MQTT dashboard. EMQTTD also doesn't have a detailed documentation for developers that allows them to extend the broker internally, o

[2016-12-21 10:15] frenchbread commented on #161
The suggestion is to create a separate plugin, or extend existing one `emqttd_plugin_apinf` to have rest endpoint that will allow to write/read items similarly to these:

<img width="882" alt="screen shot 2016-12-21 at 12 12 31" src="https://cloud.githubusercontent.com/assets/2122679/21385407/1960c170-c777-11e6-97a9-7fe08d5c6591.png">

[2016-12-21 12:06] bajiat commented on #80
@Nazarah I think 'deprecated' should be red. Users should be warned not to use deprecated APIs. 'unknown' can be grey.

[2016-12-21 12:10] bajiat commented on #158
@Nazarah Wireframes look ok. You may want to rephrase the text below the dropdown menu: "You can connect your API to *only* one organization *only*."

[2016-12-21 12:26] bajiat commented on #161
@frenchbread Remember that this should be an upstream contribution only and start with users only. You can give your recommendation about storage mechanism. Keep in mind we want to define ACL rules for the users to publish messages to EMQ topics.

[2016-12-21 12:27] bajiat commented on #161
@frenchbread Can you also check the research comments from #124 before writing any code?

[2016-12-21 12:33] bajiat commented on #161
@frenchbread Why does the picture you have added in one of the comments above contain 'Y' (= yes) for POST for /api/users? Isn't POST for adding?

[2016-12-21 12:43] brylie opened #176 "Create API Card component"
In preparation to work with the API Card, we should restructure the code a bit. The API Card markup currently embedded only in the API Catalog. Move the API Card markup out of the API Catalog template, into its own component.

[2016-12-21 12:46] marla-singer commented on #176
@brylie Also API Catalog (and properly API card) using on organization profile when we show users connected API to organization

[2016-12-21 12:47] bajiat opened #177 "API cards with "added a few seconds ago" are confusing"
APIs that have either been migrated or synced from API Umbrella have the text "added a few seconds ago" in API cards and in search results instead of the original time when these APIs were added. This is probably because Umbrella does not store information about the date and time when an API was added.

This "added a few seconds ago" text never changes/updates. Could we leave it empty if we have n

[2016-12-21 13:21] alfredjkwak opened #178 "Runtime exception on dashboard getProxyData"
[code]

Helpfult hint: Check proxyBackend has apiUmbrella object before using it https://github.com/Digipalvelutehdas/APIKA/blob/fec765d2deaa23dba58402a4cc3b2617709bc6a0/dashboard/server/methods.js#L25

[2016-12-21 13:29] alfredjkwak opened #179 "Check if spiderable package is needed"
From APIKA logs, "spiderable: phantomjs not installed. Download and install from http://phantomjs.org/"

Check if spiderable package is needed for application, SEO or testing possibly?
If required, fix dependency.

[2016-12-21 13:38] bajiat commented on #178
# Steps to reproduce
1. Log into apika.digipalvelutehdas.fi as admin
2. Go to dashboard
3. Go to Select API list and select one API

Repeat step nr. 3 until you get 504 Gateway Time-out

Cannot tell yet whether it is a certain API that causes this or a certain nr of selections.

[2016-12-21 14:04] brylie opened #180 "Refactor 'catalogue' component; rename to 'catalog'"
While refactoring the 'API Card' component, it was apparent that the 'Catalogue' component needs refactoring. Refactor the catalogue component to be called 'API Catalog', simplify markup/classes, remove CSS where possible.

[2016-12-21 14:27] #157 closed

[2016-12-21 21:50] frenchbread commented on #161
@bajiat It is, but still it doesn't allow to add entities. (There is no was to pass params to that POST req). Did not find anything about that in code as well.

[2016-12-23 04:31] frenchbread commented on #161
Added an endpoint for adding user, tested it with postman and it worked. Working in https://github.com/apinf/emq_dashboard repo (forked). It works in a way, that you have to pass `username` and `password` key/value in the headers. Later will add same endpoints for topics, acls etc.

[2016-12-23 09:02] #104 closed

[2016-12-23 10:09] saralavanip opened #186 "In API owner's 'Settings' view: 'Connect to Organization' title and its info text not appropriate"
# Steps
1. Visit https://staging.apinf.io   (version 0.37.0)
2. Login as owner
3. Add API  with proxy
4. Go to 'Settings'  view
5. Go to 'Connect to Organization' in 'Details' panel

# Findings
- Here the Pre-requisite is to have API connected to an Organization already.
- The title and its related info. text are not appropriate and its confusing if owner able to connect or disconnect API to an or

[2016-12-23 10:30] saralavanip opened #187 "Settings view: 'Life cycle status' and 'Connect to organization' options available for APIs not connected to any organization"
# Steps
1. Visit https://staging.apinf.io  (version 0.37.0)
2. Login as owner
3. Add API  with proxy
4. Go to 'Settings'  view

# Findings
- API life cycle status shown as 'Unknown'
- In Settings-'Details' panel: 'Life cycle status' and 'Connect to organization' options available for API though not connected to any organization.

# Release
 0.37.0 on staging server

# Screenshot

![api_unknown_lab

[2016-12-23 11:55] saralavanip commented on #173
Reported issues:
#186
#187

[2016-12-23 12:38] #176 closed

[2016-12-23 12:38] #180 closed

[2016-12-23 15:19] saralavanip opened #189 "Call API as owner , analytics data not rendered in dashboard view"
# Steps
1. Visit https://staging.apinf.io  (version 0.37.0)
2. Login as owner
3. Go to Catalog
4. Click on 'My APIs'
5. Select an API
6. Call API as per usage instructions
7. Go to 'Dashboard'
8. Select the above API

# Findings
- 'Select API' filter lists only 'My APIs'
- Call API as owner , analytics data not rendered in dashboard for successful calls. But shows data for calls that results with

[2016-12-23 16:48] kyyberi opened #190 "Use APIOps community"
Apinf.io needs community. APIOps is community (reboot coming 2/2017) and they need tools to fiddle with. Lets combine the two. Eventually apinf.io frontpage could list coming events. I know this is mixing two brands: apinf and apiops and that needs to be handled with care. Comments?

APIOps has now two groups in Helsinki and Tampere. We will grow the network 2017.
![new-apinf io](https://cloud.git

[2016-12-23 16:50] kyyberi commented on #190
Obviously frontpage needs a little something than just listing coming events. Perhaps a few sentences about APIOps community and the connection to apinf.io.

[2016-12-23 17:34] kyyberi commented on #190
Nevermind.

[2016-12-23 17:34] #190 closed

[2016-12-23 17:57] phanimahesh commented on #161
It looks like you may be reinventing the wheel. If you need a user and acl management system, you can store it outside emqttd and use one of its plugins. Have you considered any of these?
 - https://github.com/emqtt/emq-auth-http : Expose HTTP endpoints (REST) in your app that will be used by emqttd to check whether to allow connections and pubsub.
 - https://github.com/emqtt/emq-auth-mongo : Ask

[2016-12-27 09:44] saralavanip commented on #143
@bajiat , @brylie : testing issue #101 on staging.apinf.io, could we use the 'second proxy' that is stated in above comment or is there any changes?

[2016-12-27 11:44] #160 closed

[2016-12-27 12:39] jykae commented on #163
```Does the organization data belong in metadata?```
Opinion: On higher level terms, yes, but not on database level, as we are currently creating more flexible database model for organizations feature.
Result: Selecting "if not" path, providing design options to choose how to show organization in API profile.

[2016-12-27 12:59] jykae commented on #163
In the long run good modelling on database level could be Organizations, Contact/UserProfiles, Services. Organizations can have 1 or more Services, Services can have 1 or more APIs. UserProfile would be connected optionally(?) to Meteor User.

@brylie architectural view about above ? As for now we made binding Organization - Apis, I would make only separation of Organization from Metadata as part

[2016-12-27 14:30] jykae commented on #129
@bajiat I suppose we mean "Look & Feel" with LAF here in context of UI design.
Although it has many meanings http://www.urbandictionary.com/define.php?term=laf

[2016-12-27 15:25] kyyberi opened #192 "App register"
- As a developer I want to see what kind of apps others have created with APIs.
- As a developer I want to promote my apps (using APIs available from Apinf.io and elsewhere) in apinf.io.
- As API Owner I want to see what apps utilize my APIs

[2016-12-27 15:27] kyyberi commented on #192
When registering app, developer should give meta data:

- name
- short desc
- icon
- app store links / web url
- select from apinf.io what APIs are used (easier than latter)
- add links to APIs from elsewhere

[2016-12-27 15:30] kyyberi commented on #192
If API in catalog is used in App (see above), then link (or icon + name) to App profile page should be automatically added to given API profile page.  If App uses multiple APIs then link to app should be added to all API profiles used in app.

[2016-12-28 07:24] jykae commented on #163
![metadata 1](https://cloud.githubusercontent.com/assets/293452/21516274/59faf382-ccdf-11e6-88ed-f0efe8a751dc.png)

[2016-12-28 07:46] jykae commented on #163
Services above haven't been requested, and can be still nested to abstract Metadata collection imho, until need to manage Services comes to APIKA (if ever).

UserProfile would be better to be separate collection/schema than current nested, also recommended by MDG https://guide.meteor.com/accounts.html#dont-use-profile

UserProfile improvement would be also beneficial for Apinf.
Service support wou

[2016-12-28 10:11] brylie commented on #163
Great work @jykae, the diagram helps to clarify the components.

I agree that we should enhance the user profile, so lets open a separate issue (in Apinf) to track the progress.

What are your thoughts on the diagram from the original Metadata feature request ([apinf #472](https://github.com/apinf/platform/issues/472))?

![API Metadata schema form X-Road](https://cloud.githubusercontent.com/assets

[2016-12-28 10:14] brylie commented on #163
I agree that we should enhance the user profile. Lets open a separate issue (in Apinf) to track the progress.

[2016-12-28 11:20] jykae opened #193 "Add publication for organizationApis"
Add publication for organizationApis that takes organizationId OR slug as parameter.

[2016-12-28 12:03] #193 closed

[2016-12-28 14:30] saralavanip opened #196 "User unable to edit or delete organization logo"
# Steps
1. Visit https://staging.apinf.io  (version 0.37.0)
2. Login as admin
3. Add organization
4. Go to 'Organization catalog'
5. Click on 'My Organizations'
6. Upload logo in organization profile clicking on 'camera icon'

# Findings
-  No guidance for user  on how to upload logo.
-  As an enhancement for eg. this feature could be provided for admins in their 'Settings' view
-  There is no opt

[2016-12-29 06:11] Nazarah commented on #80
@bajiat added the wireframes with above mentioned changes in the original issue.
Please have a review.

[2016-12-29 07:27] Nazarah commented on #76
@brylie based on @bajiat 's feedback, am changing the color of "Deprecated" Status to Red. Red would work as a caution to API consumer, so that they use this API in their own risk. The status "Unknown" can be shown in grey.
Am updating other lifecycle wireframes in related issues.

[2016-12-29 14:08] saralavanip opened #197 "Submit feedback form not responding"
# Steps
1. Visit https://staging.apinf.io (version 0.37.0)
2. Login as owner
3. Click  on 'APIs'
4. Select an API
5. Go to 'Feedback' view
6. Click on 'Send Feedback' button
7. Fill the feedback form
8. Click on 'Send' button

# Expected Result
Successful in sending feedback

# Actual Result
Submit feedback form not responding.

[2016-12-29 15:03] saralavanip opened #198 "Call API as registered user, dashboard doesn't render analytics data"
# Steps
1. Visit https://staging.apinf.io  (version 0.37.0)
2. Sign up
4. Click on 'APIs'
5. Select an API
6. Click on 'Get API key'
6. Call API
7. Go to 'Dashboard'

# Findings
-  Registered user can go to 'Details' view of any selected API, 'Get API key' and call API successfully but dashboard doesn't render analytics data
-  Displays message 'No apis that you manage' in dashboard view

[2017-01-02 10:49] Nazarah commented on #83
The 2nd design has been made for API profile and can also b implemented for organization profile as well.
Requirements if issues #10 and #11 has been kept in mind while designing.
The view gets rendered depending on the number of cards and their sizes.
Cards can be moved along the page (if possible to implement)
The design is based on Bootstrap card components: https://v4-alpha.getbootstrap.com/co

[2017-01-02 10:52] Nazarah commented on #83
Since the general view is the prime concern for API's consumer's attention, we can keep the look and feel of the settings and proxy tab as it is. Since it is upto the API manager and Administrator to change the settings, the current look and feel makes it simple, familiar and easy to use.

[2017-01-02 12:24] Nazarah commented on #83
an alternet suggestion for cards with navigation bar is the following design.
Here, information can be added as a list group
![mockup_12](https://cloud.githubusercontent.com/assets/17976243/21589118/231e8696-d0f7-11e6-88ff-9952b9a15315.png)
The design component in card: https://v4-alpha.getbootstrap.com/components/card/#content-types

[2017-01-03 05:02] Nazarah commented on #83
One more design idea is that the cards that have some tags attach to it (e.g. for Feedback cards with "Feature Request", "Feedback" and "Error Report"), clicking on a Tag will render the view with cards of that specific tags.
E.g. clicking a feedback card with "Feature Request" tag would leave the view with only feedback cards of that type. The primary card of adding a feedback would always remain

[2017-01-03 06:23] Nazarah commented on #127
@bajiat @brylie : I created low fidelity design as part of issue #83, and there I also included the design idea of adding oembd content. I am adding those wireframes here. The wireframes are based on card components of bootstrap:
https://v4-alpha.getbootstrap.com/components/card/
when you finalize the design, I can make high fidelity wireframes and post them there.

[2017-01-03 06:30] Nazarah commented on #145
wireframes added at issue #127

[2017-01-03 07:38] Nazarah commented on #130
@bajiat @brylie I've added low fidelity wireframes which i made for issue #83. After you finalize the design or suggest possible alterations, I'll add the high fidelity wireframes.

[2017-01-03 07:40] Nazarah commented on #146
added low fidelity wireframe on issue #130

[2017-01-03 12:18] Nazarah opened #203 "Add favicon to branding settings"
![image](https://cloud.githubusercontent.com/assets/17976243/21607538/790a2ef2-d1bf-11e6-8195-280c6c8f1c33.png)

[2017-01-03 13:05] #67 closed

[2017-01-04 13:59] bajiat commented on #198
@saralavanip In what role are you checking the dashboard? If you are a registered user, who is neither admin or API owner, Dashboard is supposed to show "No apis that you manage". The current implementation (by design) only shows information about APIs to owners and admins. There is no data available for other users.

[2017-01-04 14:02] bajiat commented on #189
@saralavanip Could you please re-check the dashboard and see if you can see the data now?

[2017-01-04 14:04] bajiat commented on #187
@saralavanip What is your expectation for the following?

I'm not sure I understood what was the error reported here.

[2017-01-04 14:05] bajiat commented on #186
@Nazarah Do you have any comments about the report and the info text?

[2017-01-04 15:07] bajiat commented on #83
@Nazarah I really like the second design for the API profile. Not sure how it would work for the Organization view, though, since it does not have so many different elements as the API profile. Here are some comments mainly concerning the 2nd design:
- I think it could be quite cumbersome to use the tabs in Details and Metadata - and maybe even difficult to notice them
- Export > this is for owner

[2017-01-05 05:14] Nazarah commented on #83
@bajiat thanks for your feedback. Since now the organization profile has API cards as its main view, we can keep it up as it is for the time being. If other functionality of organization appears in future, we can incorporate those as cards similar to that of API profile.

1. We can use a separate car design to show Details and Metadata cards. I have already referred to the following design in my p

[2017-01-05 06:44] saralavanip commented on #198
@bajiat , Ok!  Signed in as registered user (neither admin or API owner) , called API  and checked dashboard.

[2017-01-05 07:09] saralavanip commented on #189
@bajiat , re-tested with these steps : login -> add API without connecting to an organization ->call API ->check dashboard.
Result: data not available

[2017-01-05 07:25] saralavanip commented on #187
@bajiat , we have options 'Life cycle status' and 'Connect to organization' fields in 'Add API' form which are optional. So, if API is added without connecting to any organization, its 'Settings' view has the option to 'disconnect' API from an organization. Is this as expected? or should we have options for both connect and disconnect in settings view?

[2017-01-05 07:50] snittoor commented on #197
Solved ..

[2017-01-05 08:19] bajiat commented on #83
3. "Add content" sounds fine to me.
4. I find "Live documentation" confusing. What does that make Swagger document then? And if you have uploaded the Swagger document to APIKA, why do you want a link to Swagger document on a website?

Also consider what does entire view looks like, if there is no Swagger document here? What if there is only a link to external documentation available.

6. I don't t

[2017-01-05 08:40] bajiat commented on #80
@Nazarah Changes are OK.

[2017-01-05 12:24] #162 closed

[2017-01-05 12:30] bajiat commented on #169
@brylie Check what is the situation with the issue. Was this fixed in another PR?

[2017-01-05 12:41] bajiat commented on #87
Slug transliteration checked, OK for Finnish, Swedish most West European languages and Cyrillic.

[2017-01-05 12:42] #87 closed

[2017-01-05 13:00] bajiat opened #205 "Audit translation tokens"
Go through the en. i18n.json file. Make a project-wide search and check that each token is used. If a token is not used/found, remove the token.

For reference, here is how we can get all i18n tokens in use in our software:

[code]
Last time some i18n tags with spaces before the underscore were not found with the search. You can modify the search if you like. Or then double check the missing ones

[2017-01-09 07:48] Nazarah commented on #127
Alternate design suggestions
Designed this feature as part of issue #83, so adding the associated wireframes with this.
1. The Add oembd feature appears as a card in the API profile view.
Below that cards appear a group of added contents with their previews
![apiprofile1](https://cloud.githubusercontent.com/assets/17976243/21600957/b6d28866-d18c-11e6-90f9-7fbe2cc6d862.png)

![mockup_2](https://clo

[2017-01-09 08:00] bajiat commented on #161
@frenchbread Will you be able to carry this forward? Can I assign this to you? Please see the comments above from @phanimahesh. Does this need re-estimation based on the comments? We can also re-define the scope with @brylie

[2017-01-09 08:02] Nazarah commented on #24
@bajiat @nnn was working on this and he told that he would ask me later to verify the design. So do I need to make wireframes for this issue from scratch?

[2017-01-09 08:03] bajiat commented on #24
@nnn Can you finish this task?

[2017-01-09 08:04] bajiat commented on #24
@Nazarah You could experiment with low-fidelity wireframes and then discuss those with @nnn

[2017-01-09 08:06] frenchbread commented on #161
@bajiat Yes, I'll continue this one. Estimation is the same.

[2017-01-09 08:08] bajiat commented on #159
@marla-singer Would you be interested in this? The data model has changed and there is a reusable form. @brylie can explain current status.

Please estimate the task, if you are interested.

[2017-01-09 08:12] bajiat commented on #189
@brylie Please try to reproduce

[2017-01-09 08:13] marla-singer commented on #159
@bajiat yes, I'll take it. A rough estimate is 5 days

[2017-01-09 08:20] bajiat commented on #8
This needs to be a component that can be shared between API Catalog and Organization page. URL parameter for filter also needed. Filtering by one lifecycle status at a time is enough. Multiple selection could be an enhancement for later.

[2017-01-09 08:21] bajiat commented on #8
@marla-singer Would you be interested in this task? Can you please estimate?

[2017-01-09 08:25] bajiat commented on #130
@brylie Start with experimenting on the library.

[2017-01-09 08:28] bajiat commented on #143
@jykae Can you see if you can reproduce this?

[2017-01-09 08:35] bajiat commented on #161
@frenchbread Let's have a meeting about this task to check what should be the deliverable.

[2017-01-09 08:36] bajiat commented on #159
Thanks @marla-singer !

[2017-01-09 08:37] #131 closed

[2017-01-09 08:38] marla-singer commented on #8
@bajiat Yep, i'm interesting. Estimate is 5 days. Need to know some information.
How will this filter be integrated with current filtering in API catalog?
Current filter in red frame:
![joxi_screenshot_1483951051278](https://cloud.githubusercontent.com/assets/20643403/21760833/289361f0-d660-11e6-81c3-a1bc250c1f8d.png)

[2017-01-09 08:43] bajiat commented on #8
Add a select menu for the lifecycle status. When the value in the select menu gets selected, put the value in the URL as a parameter. Filter the page accordingly.

See also my comment above about reusable component.

@Nazarah How does adding a select menu sound to you?

[2017-01-09 08:44] jykae commented on #138
@bajiat This is probably related to bigger proxy changing issue last year, and might be fixed. Verifying..

[2017-01-09 08:50] #197 closed

[2017-01-09 08:51] jykae commented on #138
@bajiat Tested with latest develop. Details are updated, changed from nightly Umbrella to staging Umbrella. "Change API proxy" button is not triggering proxy change but "Save & Publish" button after that. Save & Publish works & shows message on success.

[2017-01-09 08:55] jykae commented on #138
@saralavanip @bajiat Tested also on staging. Works. Proposing issue to be closed.

[2017-01-09 09:02] bajiat commented on #198
Closing the issue.

[2017-01-09 09:03] #198 closed

[2017-01-09 09:39] manzapanza commented on #205
@bajiat I'm improving the regex to consider also these extra spaces that could be there. I checked few tokens manually, but now I'm working on a shell script to do everything, what do you think about?

[2017-01-09 10:14] bajiat commented on #187
@saralavanip I think the option available in the Settings is actually Connect API to organization and not Disconnect. The text is slightly misleading.

The lifecycle status is independent of any connection to an organization. In other words, API can also have a lifecycle status  if it is not connected to an organization.

[2017-01-09 10:15] bajiat commented on #187
@Nazarah, can you take a look at the text provided to the user for Connect API to an organization? See the screencapture in the image above. The title is about connecting, while the text talks only about Disconnecting

[2017-01-09 10:21] Nazarah commented on #130
ALternet design for future API profile look and feel.

from the designs of issue #83, the oembd contents appear as a block of cards in API profile view.
the block has a card that allows API owner to add a new oembd content.
The recently added contents would appear as a group of cards (with the most recent content appearing on top)
The cards would show content name, description, URL to access the m

[2017-01-09 10:48] #83 closed

[2017-01-09 10:49] #80 closed

[2017-01-09 11:04] Nazarah commented on #118
Related to this task, i earlier made an usability issue about scrambled information in API cards. I am closing #94 as further works would be done in this task. Adding the description of the usability issue in this comment.

This pushes the description field lower, which in turn gets scrambled with Bookmark, Starrating and add date information.
We need labels to show visibility of the API as well a

[2017-01-09 11:04] Nazarah commented on #94
closing the issue as works would be done under issue #118

[2017-01-09 11:12] marla-singer commented on #187
@bajiat @Nazarah Connect API to organization will have another UI. These is in process in 201 PR. So help text isn't maybe needed
![joxi_screenshot_1483960239121](https://cloud.githubusercontent.com/assets/20643403/21764696/80a29004-d675-11e6-89c4-c9e45841e44d.png)
![joxi_screenshot_1483960257069](https://cloud.githubusercontent.com/assets/20643403/21764697/8302ea88-d675-11e6-90ca-ac7ca7a990a4.png

[2017-01-09 11:37] bajiat commented on #187
I'll close this issue then.

[2017-01-09 11:37] #187 closed

[2017-01-09 11:58] #76 closed

[2017-01-09 12:13] bajiat commented on #130
@Nazarah Can you think of an alternative for the title "Oembd Content" and the button "Add Oembd Content"? I would say the name is too technical. It's more relevant that it is content related to or describing the (use of) the API.

[2017-01-09 12:19] bajiat commented on #127
"Add an oembd content" should be renamed to be less technical. If you want, you can add a text that explains user that this adds embedded content that user can click and view in the original source. Give examples of content types (blog posts, videos, presentations)

[2017-01-09 12:57] bajiat commented on #173
Task completed, closing the issue.

[2017-01-09 12:58] #173 closed

[2017-01-09 12:59] bajiat opened #209 "Release testing for sprint 3 work"
Test the 0.38.0 release on staging server. Report any bugs or enhancement needs to [APIKA repository](https://github.com/Digipalvelutehdas/APIKA/issues).

See the new and improved features in the [release notes] for 0.38.0 (https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development, for example
  * [x]  Connecting APIs to organizations
  * [x] Organization man

[2017-01-09 13:31] jykae commented on #134
@Nazarah @bajiat proposing textual presentation "APIs" instead of "</>" to card.
imho "</>" does not associate well with API.

[2017-01-09 13:32] brylie opened #210 "Consider switching to absolute imports for all collection paths"
Our project files currently import collections using two import styles, *relative* and *absolute*, depending on the context. Generally, the imports are done as such:

- *relative imports* for collections within the same module as the importing file
- *absolute imports* for collections in a separate module from the importing file

Lets discuss the tradeoffs of other possible importing rules, make a

[2017-01-09 15:06] bajiat commented on #134
@jykae @nazarah Is there any other image we could use to represent API. How about: {A}

[2017-01-10 06:31] #158 closed

[2017-01-10 08:55] brylie opened #212 "Update project dependencies"
Around every 1-2 sprints, we have been updating all project dependencies. Run `meteor update --all-packages` to get our dependencies updated to the latest compatible versions.

[2017-01-10 10:18] brylie commented on #169
This bug seems to be resolved with the recent re-write of the Organization Profile. Please verify in nightly.

/cc @bajiat

[2017-01-10 12:32] marla-singer opened #214 "User without permission can see Edit button on organization profile"
On the Organization Profile, the Edit button is visible to anonymous users:

![screenshot_20170112_143537](https://cloud.githubusercontent.com/assets/17307/21890048/828251e6-d8d4-11e6-9043-549adfd66321.png)

### Steps
1. As an anonymous user, navigate to an organization
2. Click on Edit button (place is near organization name)
3. Try to edit data

### Found
- Form is opened
- After editing and sav

[2017-01-10 12:39] marla-singer opened #215 "Don't show icons on organization profile for contacts"
Now contacts of manager are no required fields. If there are empty then icons in organization header can confused users.

### Examples
**Good**
![joxi_screenshot_1484051773112](https://cloud.githubusercontent.com/assets/20643403/21806479/8c6e5bae-d74a-11e6-9511-74c6dc302df3.png)
**Not very good**
![joxi_screenshot_1484051849606 2](https://cloud.githubusercontent.com/assets/20643403/21806505/bbac14

[2017-01-10 12:46] brylie commented on #161
@phanimahesh our understanding of the HTTP API is that it is mainly useful for **getting data** but does not allow the **creation of data**. For example, we would like to use the REST API to **create** the following:

- **users** for submitting messages to topics (using whichever authentication method is appropriate)
- **topics** for publishing and subscribing to messages
- **ACL rules** to contro

[2017-01-10 13:23] phanimahesh commented on #161
The idea is to manage this data out of emqttd. Consider this like any other application data you track, pick an appropriate storage like postgres, redis, mongodb etc, create a new table/collection in an existing or new database, and create an api for getting and creating data in this database. For instance, this can be a new collection alongside other apinf data, with api for creation, and web int

[2017-01-10 14:19] bajiat commented on #91
@brylie Should we also document how APIs and organizations are related in the db? Or should we close the issue?

[2017-01-10 14:48] frenchbread commented on #161
[Opened](https://github.com/emqtt/emq-dashboard/issues/90) an upstream issue, suggestion about extending the list of existing API endpoints.

[2017-01-10 16:14] Nazarah commented on #127
@bajiat added the suggested changes to wireframes. Please have a look and verify

[2017-01-10 16:42] Nazarah commented on #130
@bajiat added the recommended changes uploaded the wireframes. Please have a look and verify.

[2017-01-10 17:41] Nazarah commented on #24
@bajiat would the managers added be users in APIKA? that is the new managers can be added using their username/email address used in APIKA? or any random email address (even not registered in APIKA) can be used to add a new manager?

[2017-01-10 18:07] Nazarah commented on #24
@bajiat added some sketches of the Organization Settings section with the pane to add new managers to an organization. Please have a look and provide your feedback to it.

[2017-01-10 18:09] Nazarah opened #217 "wireframe for "Authorize a group to manage APIs of an organization""
#24

[2017-01-10 19:02] Nazarah commented on #126
@bajiat added a low fidelity wireframe to give you an idea about how the statistical information can appear in the landing page. Please have a review and let me know about your feedback and improvement suggestions. If you finalize the design, I'd make high fidelity wireframe.

[2017-01-10 19:04] Nazarah commented on #144
low fidelity wireframe added to issue #126

[2017-01-11 08:21] saralavanip opened #218 "Click on any API in 'Search list ' displays 404 'Page not found' error"
# Steps
1. Visit https://staging.apinf.io  (version 0.38.0)
2. Click on 'search icon'
3. Enter search word (eg. Test)
4. Select and click on API from search list

# Expected Result
Displays details of selected API

# Actual Result
Displays 404 'Page not found' error

# Screenshot
![search_view_api_details_unavailable_404error](https://cloud.githubusercontent.com/assets/13309358/21840627/23c37e84-d

[2017-01-11 08:25] bajiat commented on #126
@Nazarah
I like the position of the statistics block, but I'm wondering whether it will take up too much space? Could you experiment having the block on the right side of the Latest APIs?

Icons are good. For titles, I would make some changes
- "Added public APIs" >"Public APIs" (or could it be even just "APIs")
- "Added organizations" "Organizations"

[2017-01-11 08:30] bajiat commented on #127
@Nazarah The changes are looking ok to me. Just one thing to nitpick about: the title of the section "Embedded Contents". In this meaning, the word "content" is an incountable. So keep also the title of section in singular: "Embedded Content"

[2017-01-11 08:33] bajiat commented on #146
@Nazarah Looking ok to me. Same comment as in #127: "Embedded Contents" > "Embedded Content"

[2017-01-11 08:39] bajiat commented on #24
@Nazarah Thanks for the wireframes! I have a security concern for this: "On typing string in the input field, all matchin APIKA registered email address would be populated in the dropmenu." I think we can't populate a drop menu. Not all organization managers are admins, which is why we can't disclose email addresses. The managers would simple need to type the entire email address and then add the

[2017-01-11 08:49] frenchbread commented on #161
As of our discussion with @brylie and @bajiat, I added a draft code to https://github.com/apinf/emq_dashboard that allows to get request method from the request headers (e.g. POST, GET, UPDATE, DELETE) and check with what action to proceed with specific request.

[2017-01-11 09:05] #91 closed

[2017-01-11 09:45] brylie commented on #161
@phanimahesh that sounds close to our goal. I.e. we are considering how to define EMQ ACL rules, regardless of underlying datastore, via a REST API.

E.g. we would like to be able to call */api/acl* with HTTP to do the following:

- get a list of ACL rules
- get a single ACL rule
- create an ACL rule
- update an ACL rule
- delete an ACL rule

[2017-01-11 09:51] brylie commented on #161
We will remove the requirement for 'defining' topics from our task.

[2017-01-11 09:55] brylie commented on #161
/cc @bajiat @ccsr

[2017-01-11 10:03] brylie commented on #161
This offers great flexibility as well.

My understanding is that a REST API would still be useful, once the datastore was configured, so that we can do the following via HTTP calls:

- get a list of users
- get a single user
- create a user
- update a user
- delete a user

I may be misunderstanding our goal, but it seems like we want a common interface (REST) for managing users.

[2017-01-11 10:04] brylie commented on #161
/cc @bajiat @ccsr

[2017-01-11 10:37] bajiat commented on #94
Reopening the issue, since the bug still exists. There could be multiple options to fix it.

<img width="217" alt="api card gets scrambled" src="https://cloud.githubusercontent.com/assets/11626388/21845285/ac3972ec-d7fa-11e6-812a-a2fea917c438.png">

[2017-01-11 10:38] marla-singer commented on #94
@bajiat This issue can be resolve in #118

[2017-01-11 10:42] bajiat opened #219 "There is no buffer between lifecycle tag and private label in catalog"
# Steps to reproduce
1. Log into https://staging.apinf.io as admin
2. Add a lifecycle label to any API
3. Make the same API private
4. Go to catalog and check the labels in the catalog card for that API
5. Switch to catalog table view and check the two labels for that API

# Expected result
User sees a lifecycle label and private label side by side with some buffer between

# Actual result
Lifecyc

[2017-01-11 10:47] bajiat commented on #219
Screenshot for Catalog table view:
<img width="715" alt="labels in catalog table view" src="https://cloud.githubusercontent.com/assets/11626388/21845647/12fe832c-d7fc-11e6-8e92-72297bb585fd.png">

[2017-01-11 10:50] bajiat commented on #219
@brylie Can you explain what is the fix?

[2017-01-11 10:58] brylie commented on #219
As far as I recall, we just need to add an `&nbsp;` between the labels.

The problem might be related to our internationalization system. When those labels are initially rendered, there is a brief moment where they contain no text. Once the localized text enters the labels, they expand and end up right against one another.

[2017-01-11 11:05] bajiat opened #221 "User cannot filter by bookmarks"
1. Visit https://staging.apinf.io
2. Sign in
3. Go to Catalog  (default is 'Show all' )
4. Select and bookmark any API(s)
7.  Click on My Bookmarks

# Expected Result
Displays all bookmarked APIs

# Actual Result
Shows an empty page

# Screenshot

to be added

[2017-01-11 11:21] marla-singer commented on #221
@bajiat Done

[2017-01-11 12:17] bajiat commented on #94
@marla-singer I noticed Nazia's comment, but still wanted to keep the original report.

[2017-01-11 12:49] #221 closed

[2017-01-11 12:49] #134 closed

[2017-01-11 14:02] bajiat commented on #118
@manzapanza Assigning the task to you. Please ensure the changes fix also the scrambled information in API cards (#94).

[2017-01-11 14:50] bajiat commented on #189
@brylie
I have managed to reproduce. I did not follow the exact steps, logged in as admin user and was calling an API added by someone else, but I assume that should not make a difference.
Made calls today to Test-Books-API using Postman. Checked the dashboard for Test-Books-API, shows only calls made 21 Dec 2016.
I would prefer, if somebody else tried to reproduce as well.

[2017-01-11 20:33] phanimahesh commented on #161
@brylie I recommend storing the users and acl rules completely outside emqttd. Working with mnesia without good experience with erlang and mnesia is not a good idea IMO.

If you'd like concrete suggestions, with most choices made for you based on what I know about the team:

1. Create a new project - Probably call it Apinf MQTT user and access control manager
2. Make it a nodejs based one with pos

[2017-01-11 20:50] phanimahesh commented on #161
Regarding the upstream issue adding support for user management to emqttd dashboard itself, it is planned to work with emqttd auth username module, which is not ideal for this usecase. Having an external datastore offers greater flexibility.

[2017-01-11 23:30] brylie commented on #161
Basically, we are the integrators - developers integrating the systems.

Creating a stand-alone project sounds like a viable idea.

I would like to wait for a bit to see how the EMQ management API progresses, before committing to a new integration project.

/cc @bajiat

[2017-01-12 05:15] kyyberi opened #226 "Date should be in Finnish format"
In API profile date is presented in English even though Finnish language is selected.

https://apika.digipalvelutehdas.fi/api/TWwWtLF9vb4WGQiL9

 _Voimassa alkaen:   February 01 2017_

![date-translate](https://cloud.githubusercontent.com/assets/1927158/21877860/bfc93922-d896-11e6-9019-c0d3baa5e598.png)

[2017-01-12 05:58] kyyberi opened #227 "Catalogue Finnish translation for date/time in English"
Dispite selection of Finnish UI in catalogue time indication of when API was added is in English.
![kuvakaappaus 2017-01-12 07-55-32](https://cloud.githubusercontent.com/assets/1927158/21878707/bfb799a0-d89c-11e6-90fe-8fae9bdac295.png)

[2017-01-12 06:26] ccsr commented on #161
@phanimahesh What is the timeline for the user management API to be available?

@brylie do you mean we wait for this feature to be available for this phase? I dont recommend this has been in the most requested feature.

[2017-01-12 06:27] ccsr commented on #161
Sorry closed this issues by accident. I reopned it again

[2017-01-12 08:50] #218 closed

[2017-01-12 08:59] brylie commented on #161
@ccsr a day ago, @emqplus said:

My recommendation is to clarify the progress and scope of the **EMQ Management API**.

We can see if the EMQ Management API might meet our needs *before* committing to build and maintain a stand-alone application to integrate Apinf with EMQ.

[2017-01-12 12:32] #212 closed

[2017-01-12 12:37] brylie opened #229 "Anonymous user can see Organization Edit button"
On the Organization Profile, the Edit button is visible to anonymous users:

![screenshot_20170112_143537](https://cloud.githubusercontent.com/assets/17307/21890048/828251e6-d8d4-11e6-9043-549adfd66321.png)

# Task
Make sure the Edit button only displays for Organization Managers or Admin users. there may already be an `organization.currentUserCanEdit` helper, otherwise we may need to create it.

[2017-01-12 12:38] marla-singer commented on #229
Dublicate #214

[2017-01-12 12:40] #229 closed

[2017-01-12 12:44] #94 closed

[2017-01-12 12:46] #205 closed

[2017-01-12 14:02] nnn commented on #24
@bajiat continue working on this task

[2017-01-13 08:44] bajiat commented on #189
@brylie I re-tested the same API: checking dashboard for Test-Books-API in staging.apinf.io.  I can only see the original error message: "No data found. Try changing filtering options..." It does not help if I set the time to 1-31 Dec to see even the calls from 21 Dec 2016.

[2017-01-13 09:41] brylie commented on #189
I can't duplicate this bug in local development. I have followed the steps to reproduce, and the charts render the analytics data properly.

[2017-01-13 09:53] brylie opened #231 "Users list visible to anonymous users"
The users management page can be accessed by anonymous users via URL. This displays all emails and usernames registered on the system.

# Task
Add sufficient security permissions to user related views and publications.

[2017-01-13 09:57] brylie commented on #189
This might be a configuration issue in staging.apinf.io:

![screenshot_20170113_115602](https://cloud.githubusercontent.com/assets/17307/21925717/52b267a4-d987-11e6-823b-bb7b090aaf2f.png)

We seem to be using an internal Docker URL, which may not resolve as expected.

[2017-01-13 10:15] brylie commented on #189
I changed the Proxy settings on staging.apinf.io to match those used in my local development environment:
![screenshot_20170113_121340](https://cloud.githubusercontent.com/assets/17307/21926289/cbaba3e4-d989-11e6-8eea-6390763b3b78.png)

However, the dashboard still fails to fetch the data from Elasticsearch, with the following console messages:

![screenshot_20170113_121302](https://cloud.githubus

[2017-01-13 15:14] marla-singer commented on #189
@brylie @bajiat I set the right URL for ElasticSearch.  As for me the problem is because of server for staging.apinf.io. If you change proxy from staging.apinf.io:3002 to nightly.apinf.io:3002 then problem won't be repeated

[2017-01-15 03:49] Nazarah commented on #127
Sorry for missing the text modification while creating the wireframe. Added the changes and uploaded the wireframe. Closing the issue #145

[2017-01-15 03:50] Nazarah commented on #145
Closing the issue after completion.

[2017-01-15 03:50] #145 closed

[2017-01-15 04:40] Nazarah commented on #24
@bajiat I modified the wireframes considering your concerns. Now the managers can be added by typing the whole email address and clicking "Add a Manager" button

@nnn Do you have any feedback regarding to the design? I simply kept it like what we now use in API profile settings tab to add limited audience to a private API.

[2017-01-15 04:41] Nazarah commented on #217
added suggested changes to wireframes and uploaded them in the original issue.
Closing the task after completion.

[2017-01-15 04:41] #217 closed

[2017-01-15 13:50] mauriciovieira opened #236 "Add eslint check to travis build"
Currently, there is no static code check in the [continuous integration](https://travis-ci.org/Digipalvelutehdas/APIKA). It is desirable to add a eslint check during pull requests because that will help avoiding the introduction of new bugs.

# Definition of done
* [x] Add eslint check to continuous integration (#237)
* [ ] Make eslint to check all directories
  * [x] about (#237)
  * [x] api_cata

[2017-01-15 13:50] mauriciovieira commented on #236
@bajiat I am working on this. I talked to @brylie Friday and we think it's a good idea.

[2017-01-15 15:10] mauriciovieira commented on #236
I am doing this 'locally', and it seems we'll have a long work to do. According to https://travis-ci.org/mauriciovieira/platform/builds/192108795, there are _1656 problems (1358 errors, 298 warnings)_  right after the latest Jan 12th commit (https://github.com/mauriciovieira/platform/commit/0c6b28f7d00ee1eb9328e0341fa829cdd095e827)

What I propose is to not add all directories in a single step, bu

[2017-01-15 15:12] mauriciovieira commented on #236
And I am pretty sure this step will help us not to introduce new bugs to the code. We already have a https://docs.meteor.com/packages/audit-argument-checks.html to the eslintrc, and it found a lot of non-checked arguments in the code.

[2017-01-15 16:22] mauriciovieira commented on #236
I already set up travis ci to run for pull requests and am fixing one issue at at time in https://github.com/Digipalvelutehdas/APIKA/pull/237. Notice the red x for each commit.

[2017-01-16 11:09] marla-singer opened #240 "Number of connected APIs is displayed incorrect"
Number of connected APIs is displayed incorrect in Organization catalog
Verified on nightly.apinf.io
Screens
![joxi_screenshot_1484564374024](https://cloud.githubusercontent.com/assets/20643403/21980699/572a45f2-dbf5-11e6-88db-40a60bea3959.png)
![joxi_screenshot_1484564386768](https://cloud.githubusercontent.com/assets/20643403/21980700/594e3e2e-dbf5-11e6-885b-01f973de4068.png)

[2017-01-16 11:39] mauriciovieira commented on #236
@brylie @bajiat I think it's better not to try to lint all directories at once, in this issue. In my opinion, it is better to merge more often, 1 new PR per directory.

I am finishing the 3 first directories in alphabetical order, and will open an issue for each unlinted directory.

[2017-01-16 11:41] mauriciovieira commented on #236
The work is being done in #237

[2017-01-16 12:25] saralavanip commented on #197
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.38.0 and it is not reproducible.

[2017-01-16 13:00] saralavanip commented on #240
@baijat, @marla-singer , verified this issue on https://staging.apinf.io version 0.38.0.
Findings: Number of APIs connected to an organization is not displayed in organization catalog view.
Screenshots:
![selection_160](https://cloud.githubusercontent.com/assets/13309358/21983957/5bd765e2-dbfc-11e6-9030-e9ce3913324d.jpg)

![selection_161](https://cloud.githubusercontent.com/assets/13309358/2198393

[2017-01-16 13:14] saralavanip commented on #186
@bajiat , verified this resolved issue on https://satging.apinf.io ,version 0.38.0 and it is not reproducible. We can close this issue.

[2017-01-16 14:32] saralavanip opened #241 "Unbookmark API in 'My bookmarks' view displays empty page"
# Steps
1. Visit https://staging.apinf.io  (version 0.38.0)
2. Login as owner
3. Click on 'APIs'
4. Bookmark any two APIs
5. Go to filter and click on 'My Bookmarks'
6. Unbookmark any one API by clicking on 'flag' sign

# Findings
-  Incorrect help text 'Bookmark API' when user bookmarked API already
-  Unbookmark any one API in 'My bookmarks' view displays empty page

# Screenshot

![selection_16

[2017-01-16 22:34] mauriciovieira opened #242 "Setup Travis-ci to not build docker image during Pull Requests"
Yesterday I set travis to build PR because I am working on making eslint to run after each commit. @shaliko said it's not desirable because the build generated a wrong docker image by the end of the day.

The solution is easy, from: https://docs.travis-ci.com/user/environment-variables

**Task:** Extract the docker build step to a shell script and make it run only if the current job is not a pull

[2017-01-17 07:48] Nazarah commented on #126
@bajiat Here are two screenshots of the view after you suggested the modifications
![landingpagenew_2](https://cloud.githubusercontent.com/assets/17976243/22011207/816dc946-dc96-11e6-93f7-07d9faa45771.png)
![landingpagenew_3](https://cloud.githubusercontent.com/assets/17976243/22011209/817525c4-dc96-11e6-916d-ca01ca6fa8a4.png)
Now the at a glance section comes at the same level as recent APIs
1st

[2017-01-17 07:52] #146 closed

[2017-01-17 08:40] #242 closed

[2017-01-17 09:23] bajiat commented on #126
@Nazarah Your original design with the statistics block before the latest APIs was better than my idea with the block on the side. It takes too much space and also looks confusing.

Thanks for experimenting, though!

[2017-01-17 09:34] bajiat commented on #169
Verified in nightly using the steps to reproduce. Result; Anonymous user can view an organization profile. Closing the issue.

[2017-01-17 09:34] #169 closed

[2017-01-17 09:36] bajiat commented on #130
We are experimenting with adding oembed content in a separate repository:  https://github.com/apinf/meteor-oembed-blog.

[2017-01-17 09:42] bajiat commented on #240
@saralavanip It's not in the release yet, that's why you can't see the nr on staging. It will only be part of the next release.

[2017-01-17 09:47] saralavanip commented on #240
@bajiat , Ok!

[2017-01-17 10:34] bajiat commented on #240
The original error reproduced in nightly.

[2017-01-17 11:26] bajiat opened #245 "API request timeline in Dasboard is empty even if there are recent calls to display"
# Steps to reproduce
1. Sign in to nightly.apinf.io as admin
2. Make calls to any API
3. Go to dashboard and check whether the calls you made in step 2 can be viewed

# Expected result
The calls made in step 2 are visible in charts and in table

# Actual result
API Request Timeline is empty. Other charts and the table show the calls made to the API

Screenshots in Comments.

[2017-01-17 11:33] bajiat commented on #245
Making calls to TAMK reservations API:

<img width="946" alt="postman screenshot" src="https://cloud.githubusercontent.com/assets/11626388/22018785/4950e070-dcb9-11e6-8ead-e971ebfc2f78.png">

Viewing the dashboard for TAMK reservations:

<img width="467" alt="api request timeline" src="https://cloud.githubusercontent.com/assets/11626388/22018800/5c6a8878-dcb9-11e6-915f-ba1ada91fa7d.png">

[2017-01-17 11:34] saralavanip commented on #157
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.38.0

[2017-01-17 11:37] bajiat commented on #245
Same result with Hello Apinf API (called from the Swagger file)

<img width="477" alt="dashboard for hello apinf api" src="https://cloud.githubusercontent.com/assets/11626388/22018962/0e1ac4de-dcba-11e6-8069-50090b55919f.png">

[2017-01-17 11:42] saralavanip commented on #209
Verified issues:
#157
#186
#187
#197

[2017-01-17 11:43] saralavanip commented on #209
Reported Issues:
#241

[2017-01-17 12:00] brylie commented on #240
I recommend we add [percolate:publish-counts](https://github.com/percolatestudio/publish-counts#publish-counts) to our project when we need counts of collection documents. It is much more bandwidth efficient, since it only sends the count value as opposed to all of the documents being counted.

[2017-01-17 12:15] bajiat commented on #245
The time interval was so small that the first calls were not shown. When more calls were made in an hour there was something to see.

[2017-01-17 12:38] saralavanip opened #247 "'Email' and 'phone' fields not validated in 'Add Organization' form"
# Steps
1. Visit https://staging.apinf.io  (version 0.38.0)
2. Login as admin
3. Go to  'Organizations'
4. Click on 'Add organization'
5. Fill the form
  -   Enter Name, URL, Description
  -   Enter 'Contact' details: phone (eg. 000) , email (eg. test@123)
6. Click on 'Save' button

# Expected Result
- Validate contact details : phone and email fields
- Notify users about invalid inputs

# Actual

[2017-01-17 13:12] saralavanip opened #248 "Possibility for admin or manager to 'Delete' organization"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Login as admin
3. Go to 'Organizations'
4. Add Organization
5. Click on 'Organization' added above

# Findings
-   Currently admin or manager can edit the details of the organization but cannot delete the organization.

[2017-01-17 13:30] saralavanip opened #249 "Organization catalog: click on 'organization' in 'Table' view displays 'Page Not Found' error"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Login as admin
3. Go to 'Organizations'
4. Add Organizations
5. Go to 'Organization' catalog
6. Click on 'Table' tab
7. Click on any organization

# Expected Result
-  Displays organization profile

# Actual Result
- Click on any organization in 'Table' view displays error : 'Page Not Found'

# Screenshot
![click_organization_table_view

[2017-01-17 13:39] saralavanip opened #250 "API catalog: click on 'API' in 'Table' view displays 'Page Not Found' error"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Login as owner
3. Click on 'APIs'
4. Go to filter and click on 'Table' tab
7. Select and click on any API

# Expected Result
-  Displays API 'Details' view

# Actual Result
- Click on any API in 'Table' view displays error : 'Page Not Found'

# Screenshot
![click_api_table_view_404error](https://cloud.githubusercontent.com/assets/133093

[2017-01-17 13:41] marla-singer commented on #250
@sara @taija It is already resolved on nightly

[2017-01-17 13:49] saralavanip commented on #139
@bajiat , verified this resolved issue and it is not repeoducible.

[2017-01-18 08:46] bajiat commented on #126
@Nazarah Can you provide a hi-fidelity wireframe for @snittoor ? Thanks!

[2017-01-18 09:27] #249 closed

[2017-01-18 11:11] mauriciovieira commented on #236
`apis/server` lint is being worked on #252

[2017-01-18 11:33] Nazarah commented on #126
Uploaded the hi fidelity prototypes

to @snittoor
I didn't have access to the PSD file for the font awesome icon which is originally used to indicate organizations (icon name: address-card). So in the organization statistics card, that specific icon should be used.
The style of statistics cards is from: https://almsaeedstudio.com/themes/AdminLTE/index2.html

Please let me know if you are able to a

[2017-01-18 12:04] saralavanip opened #254 "'Search' icon clickable while another search field available with its results"
# Steps
1. Visit https://staging.apinf.io  (version 0.38.0)
2. Go to search field
3. Enter a search word (eg. test) and click on 'Search' button
4. Go to topbar and click on 'search' icon (magnifying glass)

# Findings
-  The first search (step 3) displays search results with a search field
-  While clicking on search icon on topbar opens up another search field

# Expected Result
-  Search icon o

[2017-01-18 12:17] saralavanip opened #256 "Search with keyword in 'Suomi' view displays search results in 'English' view"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Go to languages on topbar and click on 'Suomi'
3. Go to search field and enter keyword (eg. test)
4. Click on 'Hae'

# Expected Result
Displays search results in 'Suomi' view

# Actual Result
Displays search results in 'English' view

# Screenshot
![suomi_view_search](https://cloud.githubusercontent.com/assets/13309358/22063682/bee02fc4

[2017-01-18 13:27] saralavanip opened #257 "Suomi view: Input field title text in 'Add API' form are untranslated"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Change language by clicking on 'Suomi'
3. Sign up
4. Click on 'Add API'

# Findings
Suomi view: Input field titles text in 'Add API' form are in English language

# Screenshot
![add_api_form_suomi_view](https://cloud.githubusercontent.com/assets/13309358/22065789/725d55b4-dd92-11e6-8372-45090392cc36.PNG)

[2017-01-18 13:57] saralavanip opened #258 "Refresh page in 'Suomi' view changes to 'English' view"
# Steps
1. Visit https://staging.apinf.io (version 0.38.0)
2. Change the language to 'Suomi'
3. Click on 'Rajapinnat'  (APIs)
4. Refresh/reload page

# Findings
Refresh page in Suomi view changes to 'English' view

[2017-01-18 22:47] mauriciovieira commented on #236
https://github.com/Digipalvelutehdas/APIKA/pull/252/commits/74328de51413e0bce410206c8c5cd46d68a6cfd4 is a smarter idea to sort this problem out.

Every time a developer changes a file, they should just remove it from `.eslintignore` and fix the eslint errors.

@brylie what do you think?

[2017-01-19 08:39] bajiat commented on #189
Closing the issue as the root cause was found.

[2017-01-19 08:40] #189 closed

[2017-01-19 08:56] bajiat commented on #231
Both of the related PR's are closed. Can we close the issue as well? Or is there remaining work with the publication permissions?

[2017-01-19 09:15] #231 closed

[2017-01-19 09:32] bajiat opened #259 "Publication permissions for Users publication"

[2017-01-19 12:12] brylie commented on #236
@mauriciovieira, I linted the Organizations and Organization APIs modules in PR #260.

[2017-01-19 12:23] bajiat commented on #219
Solved already, closing the issue.

[2017-01-19 12:23] #219 closed

[2017-01-19 12:39] bajiat commented on #165
@saralavanip Can you check whether this bug can be reproduced on staging?

[2017-01-19 12:44] bajiat commented on #250
I also could not reproduce this on nightly. Closing the issue.

[2017-01-19 12:44] #250 closed

[2017-01-19 12:45] #159 closed

[2017-01-19 13:03] bajiat opened #261 "Test Meteor eMQ API integration"

[2017-01-19 14:04] marla-singer commented on #214
@bajiat interested

[2017-01-19 14:05] bajiat opened #262 "Setup APIKA with Docker in OpenShift environment"

[2017-01-19 14:14] bajiat commented on #138
@saralavanip Can you verify that this issue can be closed?

[2017-01-19 14:34] bajiat opened #263 "User unable to Get API key in nightly"
# Steps to reproduce
1. Log in to nightly.apinf.io as admin
2. Connect one of the available APIs to either one of the available API Umbrella proxies.
3. Press Get API key

# Expected result:
API key is successfully retrieved and can be copied from API profile

# Actual result:
There is a success message "API key successfully retrieved", but UI is showing Processing... and gets stuck for at least 5

[2017-01-19 14:36] bajiat commented on #263
<img width="888" alt="get api key 1" src="https://cloud.githubusercontent.com/assets/11626388/22110691/4a4f486a-de65-11e6-9c33-c4e4eec8fdc1.png">

<img width="894" alt="get api key 2" src="https://cloud.githubusercontent.com/assets/11626388/22110702/50b01770-de65-11e6-9917-3b35fd1586d6.png">

<img width="889" alt="get api key 3" src="https://cloud.githubusercontent.com/assets/11626388/22110709/566

[2017-01-19 14:55] bajiat opened #264 "Translation round for Finnish UI translations"
# Definition of done
* [ ] Export UI texts from APIKA develop
* [ ] Import texts to OneSky
* [ ] Translate missing texts to Finnish
* [ ] Organize proofreading
* [ ] Export the Finnish translations from OneSky
* [ ] make a pull request to APIKA

[2017-01-19 14:56] bajiat commented on #257
First step: Check that the texts are included in i18n file

[2017-01-19 15:00] bajiat opened #265 "Refresh in dashoard page: filter parameters persist, but API list gets refreshed"
# Steps to reproduce
1. Log into staging.apinf.io as admin (= can see any API on dashboard)
2. Select an API from the list
3. Select a filter, e.g. Hour
4. Refresh the page

# Expected result
Any filtering persists on dashboard

# Actual result
URL filters persist: data on charts is for the previously selected API and for the selected time filter. However, the API select list gets refreshed and is

[2017-01-20 10:26] saralavanip commented on #138
@bajiat , @jykae  , verified this issue on https://staging.apinf.io version 0.38.1
Findings:
- Change Proxy from (staging: API umbrella)  to another proxy (nightly: Nightly umbrella) displays error 'Cannot read property 'length' null

Screenshot 1: Currently have these proxies on staging
![staging_proxy](https://cloud.githubusercontent.com/assets/13309358/22145857/98c05de4-df0b-11e6-98e8-71d57e3bd

[2017-01-20 10:49] mauriciovieira commented on #236
@brylie @bajiat I left a message on the 3 open pull requests (#246, #255, #266) , telling how the developers can incorporate the current state of these changes into their branches.

[2017-01-20 10:51] saralavanip opened #267 "Connect API with proxy displays error message"
# Steps
1. Visit https://staging.apinf.io  (version 0.38.1)
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. staging: API Umbrella, nightly: Nightly Umbrella )
5. Sign out
6. Sign Up / Sign In as owner
7. Add API
8. Go to API view and click on 'Proxy'
9. Select  'Nightly Umbrella ' from drop down menu
10. Fill the form
11. Click on 'Save&Publish' button

# Expected Result

[2017-01-20 11:00] saralavanip opened #268 "Change API proxy displays error message"
# Steps
1. Visit https://staging.apinf.io (version 0.38.1)
2. Login as admin
3. Go to 'Proxies'
4. Add multiple proxies and save (eg. staging: API Umbrella, nightly: Nightly Umbrella )
5. Sign out
6. Sign Up / Sign In as owner
7. Add API (eg. API 1) with proxy (eg. API Umbrella) and save
8. Go to API view and click on 'Proxy'
9. Select 'Nightly Umbrella ' from drop down menu
10. Confirm clicking o

[2017-01-20 11:45] saralavanip commented on #165
@bajiat , verified this issue on https://staging.apinf.io version 0.38.1 , reported related issue #268

[2017-01-20 14:09] marla-singer commented on #267
@bajiat I researched this problem. Now we have three proxies:

1. **Staging** - staging.apinf.io:3002
1. **Nightly** - nightly.apinf.io:3002
1. **Second  nightly** - nightly-second-umbrella.apinf.io.apinf.io:3002

Staging.apinf.io and nightly.apinf.io have three proxy settings
### Found result
1. Verified on staging.apinf.io
- API backend can be connected to Staging proxy
- API backend can not be

[2017-01-20 14:13] marla-singer commented on #133
@baijat Interested

[2017-01-20 14:25] bajiat commented on #241
@saralavanip This should be resolved. Please verify this with release 0.39.0, when it has been deployed to staging. Closing the issue.

[2017-01-20 14:25] #241 closed

[2017-01-21 03:48] brylie commented on #236
Great, thanks!

[2017-01-23 07:36] Nazarah opened #271 "Testing APIKA Release Day 1"
scenario writing
Testing

[2017-01-23 07:37] #144 closed

[2017-01-23 08:03] marla-singer opened #273 ""Clear all" button doesn't work as expected"
I tested APIs filter on nightly.apinf.io. Found that "Clear all" button doesn't work as expected.
![joxi_screenshot_1485158545531](https://cloud.githubusercontent.com/assets/20643403/22195925/7429c8ce-e15b-11e6-9605-2f34986aea45.png)

[2017-01-23 08:07] bajiat commented on #267
@marla-singer Can I assign you to this task, since you have already investigated the issue? Also, this looks like a packaging issue, so maybe you can talk to Shaliko.

[2017-01-23 08:11] marla-singer commented on #267
@bajiat Yes, you can assign but it's server settings, not code

[2017-01-23 08:12] bajiat commented on #133
@nnn Could you take this task, since this is almost direct continuation to your task with organization mgrs?

[2017-01-23 08:15] bajiat commented on #170
@marla-singer Could you take this task? You should be reusing filter component from Organization filter.

[2017-01-23 08:17] marla-singer commented on #170
@baijat Yep

[2017-01-23 08:17] bajiat commented on #170
Please estimate

[2017-01-23 08:18] marla-singer commented on #170
Done

[2017-01-23 08:19] bajiat commented on #143
Related to #267

[2017-01-23 08:20] bajiat commented on #143
@marla-singer Can you check this issue as well and see if we can close it as a duplicate for #267?

[2017-01-23 08:23] bajiat commented on #263
@marla-singer Could you take this task as well?

[2017-01-23 08:27] bajiat commented on #138
Verification blocked by #267.

[2017-01-23 08:29] bajiat commented on #265
@brylie You had an idea on how to get the API id parameter. Can you explain as a comment to give @snittoor a starting point?

[2017-01-23 08:30] marla-singer commented on #143
@bajiat Yes, we can close it as a duplicate

[2017-01-23 08:42] bajiat commented on #268
Possible duplicate of  #267

[2017-01-23 08:45] bajiat commented on #254
Suggestion from @brylie If the current page/route is Search, do not display the top Search field

[2017-01-23 08:47] bajiat commented on #203
There is no method in the UI to change the favicon. Suggestion: add it to the Branding page.

[2017-01-23 08:53] bajiat commented on #118
Closing as resolved. See PR #228

[2017-01-23 08:53] #118 closed

[2017-01-23 09:47] #214 closed

[2017-01-23 10:57] #273 closed

[2017-01-23 11:20] bajiat commented on #143
Closing as duplicate

[2017-01-23 11:20] #143 closed

[2017-01-23 11:25] #170 closed

[2017-01-23 12:08] marla-singer commented on #248
@bajiat Suggestion for UI the same as API profile has
![joxi_screenshot_1485173294951](https://cloud.githubusercontent.com/assets/20643403/22203378/d9090b66-e17d-11e6-9692-0e48ef5429a0.png)

[2017-01-23 12:16] bajiat commented on #209
Closing the issue.

[2017-01-23 12:16] #209 closed

[2017-01-23 12:21] bajiat opened #278 "Release testing for sprint 4 work"
Test the 0.39.0 release on staging server. Report any bugs or enhancement needs to [APIKA repository](https://github.com/Digipalvelutehdas/APIKA/issues).

See the new and improved features in the [release notes] for 0.39.0 (https://github.com/apinf/platform/releases)

# Definition of done
* [x] Test any new development, for example
  * [x]  Connecting APIs to organizations from organization profil

[2017-01-23 12:35] bajiat commented on #248
@marla-singer I'm ok with this UI.

@Nazarah Any comments?

[2017-01-23 14:20] #227 closed

[2017-01-23 15:57] marla-singer opened #279 "OrganizationApis module is not updated when user deletes API"
OrganizationApis module is not updated when user deletes API

### Step

1. Create an Organization and an API, navigate to Organization
2. Pay attention that Organization profile doesn't have connected API and doesn't have the title "**APIs**" as expected. There are empty area in blue frame on screenshot (as expected)
![joxi_screenshot_1485186270442 1](https://cloud.githubusercontent.com/assets/206

[2017-01-24 01:36] #226 closed

[2017-01-24 08:10] philippeluickx commented on #258
As far as I know, this can only be solved by having a parameter in the URL. Either query parameter (?language=fi) or part of the url (apinf.io/fi/apis).

[2017-01-24 08:10] saralavanip commented on #250
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:16] saralavanip commented on #249
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:19] saralavanip commented on #241
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:28] saralavanip commented on #218
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:30] saralavanip commented on #214
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:41] marla-singer commented on #263
@bajiat Tested it on nightly.apinf.io and it works as expected.

[2017-01-24 08:47] saralavanip opened #283 "Bookmark API, info text remains displayed in Organization profile"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin
3. Add Organization
4. Go to above added organization profile
6. Click on 'Connect API to organization'
7. Select any API from drop down menu
8. Click on 'Connect' button
9. Bookmark the above API added clicking on 'flag' icon

# Findings
-  The info text for bookmark or unboomark API remains displayed.
-  Refresh page do

[2017-01-24 08:51] saralavanip commented on #231
@bajiat , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-24 08:59] marla-singer commented on #258
As for me, part of URL looks better.

[2017-01-24 09:01] marla-singer commented on #256
@bajiat Researched this issue. The search page has Finnish translation. Can be related to #258

[2017-01-24 10:35] saralavanip opened #284 "Filter APIs by Lifecycle status, 'Clear all' button not available in results view"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin/owner
3. Add APIs  with Lifecycle status (eg. Testing)
3. Click on 'APIs'
4. Bookmark any APIs
5. Filter APIs by Lifecycle status clicking on 'filter' icon
5. Select an option (eg. 'Testing') from drop down menu

# Findings
-  Filter APIs by Lifecycle status is successful and they are listed as expected.
-  'Clear all' bu

[2017-01-24 11:24] saralavanip opened #285 "Incorrect number of APIs shown in organization cards"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin
3. Add Organization
4. Connect APIs to the above organization
5. Go to 'Organizations' catalog

# Expected Result
-  Number of APIs connected to organizations must be shown correctly in organization card

#  Actual Result
 - Currently shows incorrect number of APIs in organization card :  '0' Apis

# Screenshot 1
![2apis_

[2017-01-24 12:04] saralavanip opened #286 "Filter by 'My organizations' shows all organizations"
# Steps
1. Visit https://staging.apinf.io  (version 0.39.0)
2. Login as admin
3. Add Organizations
4. Click on 'Organizations' in navbar
5. Go to filter and click on 'My organizations' bar

# Expected Result
It must show only my organizations

# Actual Result
- Shows all organizations.
- From this view :  if user clicks on 'Organizations' in navbar it shows empty page
- This issue is also reproduc

[2017-01-24 12:11] marla-singer commented on #286
@bajiat I will look at it

[2017-01-24 12:47] saralavanip opened #287 "Filter option 'My organizations' available for owners in organization catalog view"
# Steps
1. Visit https://staging.apinf.io  (version 0.39.0)
2. Login as owner of API
3. Click on 'Organizations'  in navbar

# Findings
-  If owners do not have right to add organization, there should not be any filter option  'My organizations' as well.
-  Currently admins or managers are able to add organizations and are able to filter 'My organizations' in organization catalog as expected.

# S

[2017-01-24 12:52] #279 closed

[2017-01-24 14:28] bajiat commented on #263
@marla-singer So it was fixed by #272 ?

[2017-01-24 14:37] bajiat commented on #285
Duplicate of #240. Closing.

[2017-01-24 14:37] #285 closed

[2017-01-24 14:38] bajiat commented on #240
Bug reported also in #285.

[2017-01-24 17:13] manzapanza opened #288 "Organization cards using Bootstrap classes"
# Context

Our Organization catalog card view is designed with custom markup/classes. While the resulting design is similar to Bootstrap panels, we have to maintain the custom markup ourselves. This means more work when trying to provide a unified design, e.g. between the API and Organizations catalog.

# Task

Use Bootstrap panels to provide most or all of the style rules for Organization cards.

[2017-01-24 17:26] saralavanip commented on #278
Verified issues: #249, #250,#241,#218,#214,#231,#170

[2017-01-24 17:26] saralavanip commented on #278
Reported issues: #283, #284, #285, #286,#287

[2017-01-25 05:31] kyyberi opened #289 "Markup error in analytics view"
There's html markup bug in analytics view when Finnish language is selected

_Tietoja ei löytynyt. <br/> Kokeile muuttaa suodatusvaihtoehtoja nähdäksesi analytiikkadataa._

![kuvakaappaus 2017-01-25 07-29-21](https://cloud.githubusercontent.com/assets/1927158/22278977/37c20fce-e2d0-11e6-8c8d-1aa63cc94c6a.png)

[2017-01-25 05:34] kyyberi opened #290 "Unified language style in Finnish in API catalogue"
It says now: Minun rajapintani, kirjanmerkkini. What's the reasoning behind that? Should it be either "Rajanpintani, kirjanmerkkini" or "Minun rajapinnat, Minun kirjanmerkit".

![kuvakaappaus 2017-01-25 07-32-50](https://cloud.githubusercontent.com/assets/1927158/22279043/be2abc50-e2d0-11e6-916b-145777b87f1b.png)

[2017-01-25 05:38] kyyberi opened #291 "Title and page title should be the same"
Perhaps it would make more sense to use word "Rajapintaluettelo" (now "Rajapinnat") in the top menu as well since the title in the page is "Rajapintaluettelo". Or visa versa: use Rajapinnat in the menu and in page title as well.
![kuvakaappaus 2017-01-25 07-36-15](https://cloud.githubusercontent.com/assets/1927158/22279107/313e57d8-e2d1-11e6-9afe-10a43fb119b1.png)

[2017-01-25 05:39] kyyberi commented on #291
Same formatting applies to Organizations view as well.

[2017-01-25 07:30] marla-singer commented on #263
@bajiat Yep.

[2017-01-25 10:04] marla-singer commented on #267
@saralavanip @bajiat Server has correct settings. Please try again. On my side it works as expected

[2017-01-25 10:04] marla-singer commented on #165
@saralavanip @bajiat The server has correct settings. Please try again. On my side, it works as expected

[2017-01-25 10:05] marla-singer commented on #268
@saralavanip @bajiat The server has correct settings. Please try again. On my side, it works as expected

[2017-01-25 10:06] marla-singer commented on #138
@saralavanip @bajiat The server has correct settings. Please try again. On my side, it works as expected

[2017-01-25 11:19] marla-singer commented on #165
@saralavanip @bajiat The server has correct settings. Please try again.

[2017-01-25 11:41] Nazarah commented on #248
@marla-singer @bajiat I am ok with the UI.

[2017-01-25 12:40] #289 closed

[2017-01-25 13:59] #24 closed

[2017-01-25 14:18] nnn opened #294 "Fix links in About"
Some links are incorrect on About modal.
Specifically:
[https://apinf.org](https://apinf.org) should be [http://apinf.org](http://apinf.org)
[https://apinf.org/docs](https://apinf.org/docs) should be [http://apinf.org/docs](http://apinf.org/docs)
We can check if it possible to have these links with https, but for now we need to make sure users are getting to working website.

[2017-01-25 14:22] #294 closed

[2017-01-25 15:08] saralavanip commented on #267
@bajiat @marla-singer , verified this resolved issue on https://staging.apinf.io v 0.39.0 and it is not reproducible.

[2017-01-25 15:10] saralavanip commented on #268
@bajiat @marla-singer , verified this resolved issue on https://staging.apinf.io v 0.39.0 and it is not reproducible.

[2017-01-25 15:16] marla-singer commented on #286
Closing this issue via PR #292

[2017-01-25 15:17] marla-singer commented on #286
Closing this issue via PR #292

[2017-01-25 15:17] #286 closed

[2017-01-25 16:53] saralavanip opened #297 "Email verification link of a deleted account enables automatic login"
# Steps
1. Visit https://staging.apinf.io  (version 0.39.0)
2. Create account 1 (eg. with email address: test1@test.com)
3. Open email and click on account 1 verification link
4. Visit https://staging.apinf.io
5. Login as admin and delete the above added account
6. Logout
7. Create another account 2 (eg. with email address: test2@test.com)
8. Open email and click on account 2 verification link
9.

[2017-01-26 07:15] saralavanip opened #298 "'Contact Us' link not working"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Scroll down and go to 'Reach out to developers'
3. Click on link 'Contact Us'

# Expected Result
Click on 'Contact Us' must redirect to contact form

# Actual Result
It doesn't redirect to contact form

[2017-01-26 07:28] saralavanip opened #299 "Text field titles in 'Contact and Registration' forms are untranslated in Suomi view"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Change language by clicking on 'Suomi'
3. Go to 'Getting started' and click on  'Register' ('Rekisteroidy')
4. Scroll down and go to 'Contact Us'

# Expected Result
All the text field titles in Contact and Registration forms must be in Suomi language

# Actual Result
Text filed titles are untranslated in Suomi view

# Screenshot

![cont

[2017-01-26 08:49] saralavanip opened #301 "Anonymous users can view 'Private' APIs listed in 'Organization catalog'"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as admin
3. Add API
4. Go to 'My APIs' and click on above API added
5. Click on Settings
6. Change the visibility of API from to 'Private'
7. Add Organization
8. Connect the API to above Organization
9. Logout
10. Again visit https://staging.apinf.io
11. Navigate to 'Organizations catalog' and select the above organization

# Expe

[2017-01-26 08:50] marla-singer commented on #301
@bajiat I willlook at it

[2017-01-26 09:17] bajiat commented on #301
@marla-singer Thanks for assigning yourself!

[2017-01-26 09:17] marla-singer commented on #301
@bajiat Need a clarification about how can see private API in organization profile?
1. Administrator
2. API owner
3. Organization manager (?)

[2017-01-26 09:26] bajiat commented on #267
Verified
* on staging.apinf.io (v. 0.39.0) by connecting API to nightly Umbrella
* on nightly.apinf.io by connecting API to staging Umbrella
It is not reproducible. Closing as resolved.

[2017-01-26 09:26] #267 closed

[2017-01-26 09:28] bajiat commented on #268
Closing as resolved.

[2017-01-26 09:28] #268 closed

[2017-01-26 12:38] #248 closed

[2017-01-26 13:20] #126 closed

[2017-01-26 14:35] #263 closed

[2017-01-26 16:35] Nazarah opened #305 "On connecting an API in an organization, related card in the organization catalog doesn't change the number of APIs"
# Reproduction steps.

1. Go to https://nightly.apinf.io
2. Sign in as an admin and  Click "Organizations"
3. click on any organization.
4. in Organization profile, click "Connect API to Organization".
5. Select an API and click Connect. (Connected API appears in organization profile)

![image](https://cloud.githubusercontent.com/assets/17976243/22340392/03a001de-e3f6-11e6-8983-d92c52bc00f8.png)

[2017-01-26 16:46] Nazarah opened #306 "For Filtering APIs in Organization profile and API catalog, users should be able to choose more than one lifecycle status"
# Usability Issue

Right now, the filtering option has the lifecycle statuses of API as dropmenu. User is able to select only one status type from there. User might wish to filter APIs connected to an organization / API catalog with more than one lifecycle status.

![image](https://cloud.githubusercontent.com/assets/17976243/22340737/22aa1460-e3f7-11e6-826e-097f69167183.png)

# Suggestion

Make th

[2017-01-26 17:01] Nazarah opened #307 "User is unable to determine the transition from one API lifecycle status to another and the transition time"
# Usability Issue:

An API user might wish to see the most recent transition from one API lifecycle status to another and the transition time. Moreover, API owner might wish to recall when s/he changed the status and the transition between two statuses. With the current design, it is not possible to determine so.

# Suggestion

Show the most recent lifecycle transition history on the top part of A

[2017-01-26 17:13] Nazarah opened #308 "In API profile, lifecycle tag and private tag have no space in between"
# Usability Issue

Right now, on making an API private, the API profile has lifecycle and private tag placed beside each other with no space. This decreases UI aesthetics and makes confusion in realizing visibility and lifecycle information. Also, if there would be  lifecycle status changing information, it won't be placed adjacent to the status tag.

# Suggestion.

Place the private tag below the

[2017-01-27 07:07] marla-singer commented on #305
@Nazarah Duplicate of #240

[2017-01-27 07:36] marla-singer opened #311 "Incorrect total number of organizations in front page"
Verified on nightly.apinf.io
Place: front page

### Found
![joxi_screenshot_1485502405162](https://cloud.githubusercontent.com/assets/20643403/22363560/489919ac-e47c-11e6-8253-bdb2628542d3.png)
### Actually
We have 5 organizations
![joxi_screenshot_1485502418609](https://cloud.githubusercontent.com/assets/20643403/22363569/4fdea006-e47c-11e6-8c24-d91b6034d696.png)

### Reason
Incorrect import of O

[2017-01-27 07:49] #257 closed

[2017-01-27 07:49] #311 closed

[2017-01-27 07:53] #298 closed

[2017-01-27 07:56] nnn commented on #298
@saralavanip, please confirm.

[2017-01-27 07:58] marla-singer commented on #298
@nnn Your PR will be available on staging after release. Changes will be available on nightly  tomorrow

[2017-01-27 08:14] nnn commented on #298
@marla-singer, aware of this, just a reminder.

[2017-01-27 08:18] marla-singer commented on #308
@Nazarah I'm working on space between labels. Place the private tag below the lifecycle status is a good idea but it can be case that username is long but API name is short
![joxi_screenshot_1485504676051](https://cloud.githubusercontent.com/assets/20643403/22364274/57334d70-e481-11e6-9d5f-078c2b56315c.png)

[2017-01-27 09:46] bajiat commented on #308
@marla-singer @Nazarah I prefer just adding space between the labels like we did on the card view, instead of using two rows to show labels.

[2017-01-27 09:59] saralavanip opened #312 "Registered user able to edit or delete others feedback"
# Steps
1. Visit https://staging.apinf.io (version 0.39.0)
2. Login as owner of API
3. Go to 'APIs'
4. Select  an API (eg. TestAPI )
5. Go to 'Feedback' view
6. Enter details: Topic , Message, Choose message type (eg. error report)
7. Click on 'Send' button
8. Logout
9. Again login as a registered user who do not own any API
10. Navigate to 'APIs'
11. Select the same API as in above step 4 (eg. Te

[2017-01-27 11:38] Nazarah commented on #305
thanks for notifying @marla-singer , should I close the issue then?

[2017-01-27 11:39] marla-singer commented on #305
@Nazarah Yep

[2017-01-27 12:10] #287 closed

[2017-01-27 14:33] #240 closed

[2017-01-28 08:32] kyyberi opened #315 "Automate update and download of onesky translation strings via API"
At the moment strings to translate are manually uploaded to OneSkyApp in one .json file. Onesky has API which can be used to upload new .json file. With automation of this process we can save human labour and make process faster. Same API can be used to download ready translations to apinf server(s).

https://github.com/onesky/api-documentation-platform/blob/master/README.md

Todo:

- [ ] Get fami

[2017-01-28 09:38] kyyberi commented on #315
Tested onesky API with PHP.

[code]
The latter gives output:
[code]

I did **not test** upload method.

[2017-01-28 09:43] kyyberi commented on #315
Most likely use case for export is to pull translation as part of release process.

[2017-01-28 14:06] kyyberi commented on #315
Related tp #264

[2017-01-28 14:32] kyyberi commented on #315
Normally tasks are:

1. Export UI texts from APIKA develop
2. Import texts to OneSky
3. Translate missing texts to Finnish
4. Organize proofreading
5. Export the Finnish translations from OneSky
6. make a pull request to APIKA

The above should be automized.

[2017-01-30 06:40] Nazarah commented on #16
In API profile details tab, Oembd contents appear in a separate pane, under "Make a call to API" section.
The contents appear as cards in the pane, with pagination options to show more entries.
Based on the user role, the Oembd pane may either appear with Add button and cards having edit and delete buttons (API manager)

![oembdadd](https://cloud.githubusercontent.com/assets/17976243/22414276/d7d4

[2017-01-30 06:41] Nazarah commented on #149
wireframes have been added in issue #16

[2017-01-30 06:41] #149 closed

[2017-01-30 07:01] Nazarah commented on #17
@kyyberi I have some questions:

1. about "Developer's Stories", do you mean issues in github? If so, at most how many entries would you like to see there?
2. In the block to show steps to adding APIs, do you want a link to "Add API"? This is to let you know that anonymous users would be shown the dialogue to login or signup when they click that link.
3. it was agreed to use Oembd support for blog

[2017-01-30 08:02] bajiat commented on #165
@saralavanip I suggest that this issue should be closed now. Any comments from you?

[2017-01-30 08:15] Nazarah commented on #147
Closing the issue for APIKA as the work for the project has ended. Will reopen a new later.

[2017-01-30 08:15] #147 closed

[2017-01-30 08:21] Nazarah commented on #305
Closing the issue for duplicity #240

[2017-01-30 08:21] #305 closed

[2017-01-30 08:30] Nazarah commented on #308
@bajiat we can continue with the solution for "adding space" between two labels. However, we might need to do rework if we decide to show recent status change history in future. For the time being, we can go with the quick solution.
@marla-singer should I assign you in this issue? then you can close it once you have fixed the problem.

[2017-01-30 08:37] Nazarah opened #319 "Align the lifecycle status tag in API profile with the API name"
# UI Issue
Right now the lifecycle status doesn't appear aligned with the API name. This is not good aesthetics.

![image](https://cloud.githubusercontent.com/assets/17976243/22416596/33777182-e6d8-11e6-916e-0efb0e435a2b.png)

# Solution
1. place the tag s.t. API name and the tag are in the same line.
OR
2. if the tag is smaller in height than API name font size, then place the tag mid-aligned wit

[2017-01-30 08:44] Nazarah opened #320 "When no organization is available to display, place a message to indicate so."
# Issue
When there is no organization to display in the catalog, currently the view appears empty. This might confuse the users thinking that something is wrong and they can't view anything.
![image](https://cloud.githubusercontent.com/assets/17976243/22416662/ab80d880-e6d8-11e6-9724-8d31b5c96ec4.png)

# Solution:
1. For anonymous users and signed in users without admin rights, place the following

[2017-01-30 09:34] saralavanip commented on #138
@bajiat , @marla-singer , verified this resolved issue on https://staging.apinf.io version 0.39.0 and it is not reproducible.

[2017-01-30 09:40] bajiat commented on #138
Closing as resolved.

[2017-01-30 09:40] #138 closed

[2017-01-30 09:40] #264 closed

[2017-01-30 09:40] #290 closed

[2017-01-30 09:54] saralavanip commented on #165
@bajiat ,  Yes we can close this issue and also we need to note that the smallest time interval in the dashboard timeline could be approximately one hour.

[2017-01-30 10:33] Nazarah opened #321 "In "About" section for APIKA, information about APInf is displayed."
# Steps to reproduce
1. Go to https://apika.digipalvelutehdas.fi
2. Click About on topbar.

#Result:
Information about APInf instead of APIKA is displayed.

![image](https://cloud.githubusercontent.com/assets/17976243/22419932/6a29a9b0-e6e8-11e6-9bed-1283aa9bb283.png)

# Expected Result
platform specific field names and values should appear in the About Dialog.

[2017-01-30 10:43] Nazarah commented on #321
When fixing the bug, please make sure Finnish translations are updated as well.

[2017-01-30 12:21] Nazarah opened #322 "APIKA: On changing language to Suomi in "Add API" page, related fields and lifecycle statuses don't get translated"
![image](https://cloud.githubusercontent.com/assets/17976243/22423287/889cb70a-e6f9-11e6-89f9-1fa4e227b41d.png)

![image](https://cloud.githubusercontent.com/assets/17976243/22422918/aeaacfce-e6f7-11e6-8e2f-22f4b0c4943e.png)

[2017-01-30 13:25] Nazarah opened #323 "Deleting an API from APIKA doesn't remove it from proxy. So if the same API is added, dashboard shows previous request histories of the API"

[2017-01-30 13:37] Nazarah opened #324 "Deleting an API doesn't remove it from proxy. So on adding the same API in APIKA shows previously made requests in Dashboard"
# Reproduction Steps:

1. Sign in to https://apika.digipalvelutehdas.fi/
2. Add an API with proper URL
3. Go to proxy tab in API profile and provide Proxy Base Path and API Base path.
4. Make a call to the API.
5. Go to Dashboard and select the added API from the dropmenu. Remember the no. of request.
6. Go to API profile and delete the API.
7. After confirming the deletion, add the same API. (inc

[2017-01-30 15:09] saralavanip opened #325 "API documentation editor not working"
# Steps
1. Visit https://staging.apinf.io
2. Login as admin
3. Navigate to 'Settings'
4. Enable 'API documentation editor'
5. Enter details of 'Host'  (eg. http://editor.swagger.io/)
6. Click on 'Save' button
7. Add API
8. Go to 'My APIs' and select above added API
9. Go to 'Documentation' and click on 'Manage' button
10. Click on 'Open API documentation editor'

# Finding
Click on 'Open API docum

[2017-01-31 07:10] Nazarah opened #326 "APIKA: In Branding page, Colors pane texts don't have Finnish translations"
![image](https://cloud.githubusercontent.com/assets/17976243/22455433/31860e20-e795-11e6-971b-d92543c51870.png)

[2017-01-31 07:17] Nazarah opened #327 "APIKA: In Branding page, Social Media pane texts don't have Finnish translations"
![image](https://cloud.githubusercontent.com/assets/17976243/22455565/08cc4ade-e796-11e6-8798-bf29cf6d83a9.png)

[2017-01-31 07:27] Nazarah opened #328 "APIKA: In Settings page, the following pane texts need Finnish translations"
1. Adding API
![image](https://cloud.githubusercontent.com/assets/17976243/22455710/0c4cc3cc-e797-11e6-94f1-8f00f21e66d1.png)

2. Sähköposti
![image](https://cloud.githubusercontent.com/assets/17976243/22455764/55362eb6-e797-11e6-8119-6c8546c5eade.png)

3. GitHub
![image](https://cloud.githubusercontent.com/assets/17976243/22455793/75aa91fa-e797-11e6-827b-4354af8eaf0c.png)

[2017-01-31 07:32] Nazarah opened #329 "APIKA: In Account page, Account Details pane texts need Finnish traslations"
![image](https://cloud.githubusercontent.com/assets/17976243/22455952/2dd9d7e0-e798-11e6-8ee4-0b6b48d4cdff.png)

[2017-01-31 08:01] Nazarah opened #330 "APIKA: in Profile page, fieldnames in Profile pane needs Finnish Translation"
![image](https://cloud.githubusercontent.com/assets/17976243/22456624/42a2536a-e79c-11e6-9a51-13ab6ce0494a.png)

[2017-01-31 10:36] #288 closed

[2017-01-31 10:50] Nazarah opened #332 "APIKA: Save button in Add Organization dialogue needs Finnish translation"
Language has been kept as Suomi

![image](https://cloud.githubusercontent.com/assets/17976243/22461867/ba41812c-e7b3-11e6-91a9-15604f873a0a.png)

[2017-01-31 11:07] Nazarah opened #333 "APIKA: Organization Profile: in Suomi language, the following elements need Finnish translation"
1. API card add date
![image](https://cloud.githubusercontent.com/assets/17976243/22462280/56b57454-e7b5-11e6-866f-229bcf657c23.png)

2. Edit organization button, Connect API to an Organization button and dialog
![image](https://cloud.githubusercontent.com/assets/17976243/22462537/5cac7b04-e7b6-11e6-8d3b-3dad4fc4757a.png)

![image](https://cloud.githubusercontent.com/assets/17976243/22462401/d10ea